@page "/inventoryrp/{selectedRole}/{businessCaseId:int}/{isHistoricalPlan:bool}"
@using Microsoft.Extensions.Logging;
@using MPC.PlanSched.Service;
@using System.Globalization;

@inherits InventoryBaseComponent

@inject ILogger<InventoryRP> logger;

<Spinner IsVisible="@IsLoading()" />

<div class="row align-items-center">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <a class="fa fa-long-arrow-left text-decoration-none d-link" @onclick="() => NavigateToRegionRP(SelectedRole)"></a>
            </div>
            <div class="col font-600">@UIConstants.EditPlan @RegionTitle <br />(@PlanDescription) </div>
        </div>
    </div>
    <div class="col">
        <div class="col font-600">@DataLoadingStatusMessage</div>
    </div>
    <div class="col-auto">
        <span class="font-14 font-700" id="region-updated-on">@PlanUpdatedOn</span>
        <div>
            <TelerikButton Id="inventory-rp-excel-download-btn" OnClick="@ExcelDownloadAsync" Size="small"><i class="fa-solid fa-download"></i> Download</TelerikButton>
        </div>
    </div>
</div>
<div class="row m-title-text m-space">
    <div class="col m-p">
        <div class="font-700">@UIConstants.PeriodStartDate</div>
        <div class="d-inline-block" id="period-start-date">@PeriodStartDate</div>
        <a @onclick="() => NavigateToRegionRP(SelectedRole)" class="d-none">
            <img src="../Images/Icon3.svg" width="30" height="20" class="m-r-10" />
        </a>
    </div>
    <div class="col font-700">@UIConstants.PlanType @PlanType</div>
    <div class="col-3">
        <div class="font-700">Refinery/Terminal</div>
        <TelerikDropDownList Data="@RefineriesDD" TextField="Name" ValueField="Id" @bind-Value="SelectedRefineryValue" DefaultText="All" OnChange="@RefineryAndCommodityOnChanged"></TelerikDropDownList>
    </div>
    <div class="col-3">
        <div class="font-700">Commodity Type</div>
        <TelerikDropDownList Data="@CommodityTypes" TextField="Name" ValueField="Id" @bind-Value="SelectedCommodityValue" DefaultText="All" OnChange="@RefineryAndCommodityOnChanged"></TelerikDropDownList>
    </div>
</div>
<div class="row m-0">
    <div class="col p-0">
        <CascadingValue Value="ReadOnlyFlag">
            <TelerikGrid id="inventory-grid-rp" TItem="OpeningInventory" OnRead=@OnReadHandlerAsync @ref="@GridInventoryReference" Height="60vh"  Width="100%"
                         Sortable="true" Resizable="true"
                         Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
                         FilterMenuType="@FilterMenuType.CheckBoxList"
                         ShowColumnMenu="true" Reorderable="true" Pageable="false"
                         LoadGroupsOnDemand=@LoadGroupsOnDemand>
                <GridToolBarTemplate>
                    <TelerikButton Size="sm" ButtonType="@ButtonType.Submit"
                                   @onclick="ToggleInventoryGridGroupByCollapseAsync"
                                   Icon="@( LoadGroupsOnDemand ? SvgIcon.Plus : SvgIcon.Minus )"
                                   Title="@( LoadGroupsOnDemand ? "Expand" : "Collapse" )">
                        Expand/Collapse all groups
                    </TelerikButton>
                </GridToolBarTemplate>
                <GridAggregates>
                    <GridAggregate Field=@nameof(OpeningInventory.OverrideOpeningInventoryMinCalculated) Aggregate="@GridAggregateType.Sum" />
                    <GridAggregate Field=@nameof(OpeningInventory.SystemOpeningInventoryMin) Aggregate="@GridAggregateType.Sum" />
                    <GridAggregate Field=@nameof(OpeningInventory.OverrideOpeningInventoryMaxCalculated) Aggregate="@GridAggregateType.Sum" />
                    <GridAggregate Field=@nameof(OpeningInventory.SystemOpeningInventoryMax) Aggregate="@GridAggregateType.Sum" />
                    <GridAggregate Field=@nameof(OpeningInventory.SystemOpeningInventory) Aggregate="@GridAggregateType.Sum" />
                    <GridAggregate Field=@nameof(OpeningInventory.OverrideOpeningInventoryCalculated) Aggregate="@GridAggregateType.Sum" />
                    <GridAggregate Field=@nameof(OpeningInventory.OCostsystem) Aggregate="@GridAggregateType.Sum" />
                    <GridAggregate Field=@nameof(OpeningInventory.OCostOverride) Aggregate="@GridAggregateType.Sum" />
                    <GridAggregate Field=@nameof(OpeningInventory.CommodityName) Aggregate="@GridAggregateType.Count" />
                    <GridAggregate Field=@nameof(OpeningInventory.Location) Aggregate="@GridAggregateType.Count" />
                </GridAggregates>
                <GridSettings>
                    <GridColumnMenuSettings Lockable="false">
                        <GridColumnMenuChooser>
                            <Template>
                                @{
                                    var columns = context.Columns;
                                    foreach (var column in columns)
                                    {
                                        <GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
                                    }
                                }
                            </Template>
                        </GridColumnMenuChooser>
                    </GridColumnMenuSettings>
                </GridSettings>
                <GridColumns>
                    @if (RegionName != null)
                    {
                        <GridColumn id="rp-inventory-commodity-name" Width="130px" Field="CommodityName" Title="Commodity Name & PIMS Code">
                            <FilterMenuTemplate Context="context">
                                <Filter Data="@ProductOptions"
                                        Field="@(nameof(OpeningInventory.CommodityName))" FilterDescriptor="@context.FilterDescriptor">
                                </Filter>
                            </FilterMenuTemplate>
                            <Template>
                                @{
                                    <div>@((context as OpeningInventory).CommodityName)</div>
                                    <div>@((context as OpeningInventory).PIMSCode)</div>
                                }
                            </Template>
                            <GroupFooterTemplate>
                                Sub Total
                            </GroupFooterTemplate>
                            <FooterTemplate>
                                Total Records: @context.Count
                            </FooterTemplate>
                        </GridColumn>
                        <GridColumn id="rp-inventory-commodity-description" Width="130px" Field="CommodityDescription" Title="Commodity Description"></GridColumn>
                        <GridColumn id="rp-inventory-type-name" Width="130px" Field="TypeName" Title="Commodity Type"></GridColumn>
                        <GridColumn id="rp-iscontangoinventory" Width="130px" Field="ContangoInventory" Title="Contango Inventory"
                                    Visible='@((RegionName == @PlanNSchedConstant.NorthRegion))'></GridColumn>
                        <GridColumn id="rp-inventory-location" Width="130px" Field="Location" Title="Refinery /Terminal">
                            <FilterMenuTemplate Context="context">
                                <Filter Data="@LocationOptions"
                                        Field="@(nameof(OpeningInventory.Location))" FilterDescriptor="@context.FilterDescriptor">
                                </Filter>
                            </FilterMenuTemplate>
                            <Template>
                                @{
                                    <div>@((context as OpeningInventory).Location)</div>
                                    <div>@((context as OpeningInventory).Region)</div>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn id="rp-inventory-location-description" Width="130px" Field="LocationDescription" Title="Refinery/Terminal Description"></GridColumn>
                        <GridColumn Width="140px" Id="rp-inventory-override-type" Field="OverrideInventoryValueTypeName" Title="Opening Inventory Override Type">
                            <Template>
                                @{
                                    var item = context as OpeningInventory;
                                    <select disabled="@ReadOnlyFlag" class="@(ReadOnlyFlag ? "custom-input-readonly":"") form-control option-dropdown form-select" id="overrideType" name="overrideType" @onchange="@((ChangeEventArgs e) => OnInventoryTypeChanged(e, context))">
                                        @foreach (var type in OverrideTypes)
                                        {
                                            <option value="@type.Name" selected="@(type.Name == item.OverrideInventoryValueTypeName ? true : false)">@type.Name</option>
                                        }
                                    </select>
                                    <span></span>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn id="rp-inventory-input-value" Width="110px" Field="OverrideOpeningInventory" Title="Opening Inventory Input Value">
                            <Template>
                                <InventoryInput Context="context"
                                                Precision=@InventoryQuantityDecimalPlaces
                                                ValueFunc="InventoryData => InventoryData.OverrideOpeningInventory"
                                                OnChange="((ChangeEventArgs e) => OnInventoryOverride(e, context))" />
                            </Template>
                        </GridColumn>
                        <GridColumn id="rp-inventory-calculated" Width="110px" Field="OverrideOpeningInventoryCalculated" Title="Opening Inventory (MB)">
                            <Template>
                                @{
                                    var openingInventoryData = (OpeningInventory)context;
                                    openingInventoryData.ValidateValues();
                                    <div class="@(openingInventoryData.SetCssClassIfSystemInventoryNotEqualToOverrideInventory()
                                        + openingInventoryData.SetCssClassIfInventoryGreaterThanMaxOrLessThanMinInventory())">
                                        Overridden: @openingInventoryData.DisplayInventoryQuantity(openingInventoryData.OverrideOpeningInventoryCalculated)
                                    </div>
                                    <div>System: @openingInventoryData.DisplayInventoryQuantity(openingInventoryData.SystemOpeningInventory)</div>
                                    <span style="color:red">@openingInventoryData.CalculatedValidationMessage</span>
                                }
                            </Template>
                            <GroupFooterTemplate>
                                @context.Sum
                            </GroupFooterTemplate>
                            <FooterTemplate>
                                <GridFooterSum AggregateResults="@context?.AggregateResults"
                                               OverrideProperty=@nameof(OpeningInventory.OverrideOpeningInventoryCalculated)
                                               InitialProperty=@nameof(OpeningInventory.SystemOpeningInventory)
                                               PrecisionFormat="@UIConstants.InventoryQuantityDigitPrecisionFormat" />
                            </FooterTemplate>
                        </GridColumn>
                        <GridColumn id="rp-inventory-min-input-value" Width="110px" Field="OverrideOpeningInventoryMin" Title="Min. Opening Inventory Input Value">
                            <Template>
                                <InventoryInput Context="context"
                                                Precision=@InventoryQuantityDecimalPlaces
                                                ValueFunc="InventoryData => InventoryData.OverrideOpeningInventoryMin"
                                                OnChange="((ChangeEventArgs e) => OnMinInventoryOverride(e, context))" />
                            </Template>
                        </GridColumn>
                        <GridColumn id="rp-inventory-min-calculated" Width="110px" Field="OverrideOpeningInventoryMinCalculated" Title="Min. Opening Inventory (MB)">
                            <Template>
                                @{
                                    var openingInventoryData = (OpeningInventory)context;
                                    openingInventoryData.ValidateValues();
                                    <div class="@(openingInventoryData.SetCssClassIfSystemMinInventoryNotEqualToOverrideMinInventory())">
                                        Overridden: @openingInventoryData.DisplayInventoryQuantity(openingInventoryData.OverrideOpeningInventoryMinCalculated)
                                    </div>
                                    <div>System: @openingInventoryData.DisplayInventoryQuantity(openingInventoryData.SystemOpeningInventoryMin)</div>
                                    <span style="color:red">@openingInventoryData.MinCalculatedValidationMessage</span>
                                }
                            </Template>
                            <GroupFooterTemplate>
                                @context.Sum
                            </GroupFooterTemplate>
                            <FooterTemplate>
                                <GridFooterSum AggregateResults="@context?.AggregateResults"
                                               OverrideProperty=@nameof(OpeningInventory.OverrideOpeningInventoryMinCalculated)
                                               InitialProperty=@nameof(OpeningInventory.SystemOpeningInventoryMin)
                                               PrecisionFormat="@UIConstants.InventoryQuantityDigitPrecisionFormat" />
                            </FooterTemplate>
                        </GridColumn>
                        <GridColumn id="rp-inventory-max-input-value" Width="110px" Field="OverrideOpeningInventoryMax" Title="Max. Opening Inventory Input Value">
                            <Template>
                                <InventoryInput Context="context"
                                                Precision=@InventoryQuantityDecimalPlaces
                                                ValueFunc="InventoryData => InventoryData.OverrideOpeningInventoryMax"
                                                OnChange="((ChangeEventArgs e) => OnMaxInventoryOverride(e, context))" />
                            </Template>
                        </GridColumn>
                        <GridColumn id="rp-inventory-max-calculated" Width="110px" Field="OverrideOpeningInventoryMaxCalculated" Title="Max. Opening Inventory (MB)">
                            <Template>
                                @{
                                    var openingInventoryData = (OpeningInventory)context;
                                    openingInventoryData.ValidateValues();
                                    <div class="@(openingInventoryData.SetCssClassIfSystemMaxInventoryNotEqualToOverrideMaxInventory())">
                                        Overridden: @openingInventoryData.DisplayInventoryQuantity(openingInventoryData.OverrideOpeningInventoryMaxCalculated)
                                    </div>
                                    <div>System: @openingInventoryData.DisplayInventoryQuantity(openingInventoryData.SystemOpeningInventoryMax)</div>
                                    <span style="color:red">@openingInventoryData.MaxCalculatedValidationMessage</span>
                                }
                            </Template>
                            <GroupFooterTemplate>
                                @context.Sum
                            </GroupFooterTemplate>
                            <FooterTemplate>
                                <GridFooterSum AggregateResults="@context?.AggregateResults"
                                               OverrideProperty=@nameof(OpeningInventory.OverrideOpeningInventoryMaxCalculated)
                                               InitialProperty=@nameof(OpeningInventory.SystemOpeningInventoryMax)
                                               PrecisionFormat="@UIConstants.InventoryQuantityDigitPrecisionFormat" />
                            </FooterTemplate>
                        </GridColumn>
                        <GridColumn id="rp-inventory-uom" Width="110px" Field="InventoryUOM" Title="UOM"></GridColumn>
                        <GridColumn id="rp-inventory-ocost" Width="110px" Field="OCostOverride" Title="OCost">
                            <Template>
                                @{
                                    var item = context as OpeningInventory;
                                    <div class="text-center">
                                        @item.DisplayInventoryPrice(item.OCostOverride)
                                   </div>
                                }
                            </Template>
                        </GridColumn>
                        <GridColumn id="rp-inventory-ocostuom" Width="110px" Field="OCostUOM" Title="OCost UOM"></GridColumn>
                        @if (RegionName == PlanNSchedConstant.NorthRegion)
                        {
                            <GridColumn id="rp-inventory-cpricenorth" Width="110px" Field="CPriceNorth" Title="CPrice"></GridColumn>
                        }
                        else
                        {
                            <GridColumn id="rp-inventory-cprice" Width="300px" Title="CPrice">
                                <Template>
                                    @{
                                        var item = @context as OpeningInventory;
                                        <DetailTemplate>
                                            @{
                                                <TelerikGrid Data="item.CPrice" Class="grid-no-scroll">
                                                    <GridColumns>
                                                        <GridColumn Field="PeriodName" Title="Period"></GridColumn>
                                                        <GridColumn Field="PriceOverride" Title="Price"></GridColumn>
                                                        <GridColumn Field="UOM" Title="UOM"></GridColumn>
                                                    </GridColumns>
                                                </TelerikGrid>
                                            }
                                        </DetailTemplate>
                                    }
                                </Template>
                            </GridColumn>
                        }
                        <GridColumn id="rp-inventory-modified-flag" Width="110px" Field="IsOverridden" Title="Data Override">
                            <Template>
                                @{
                                    var inventoryData = (OpeningInventory)context;
                                    inventoryData.SetOverrideFlag();
                                    <div class="text-center">@inventoryData.IsOverridden</div>
                                }
                            </Template>
                        </GridColumn>
                    }
                </GridColumns>
                <NoDataTemplate>
                    <strong>@UIConstants.NoDataAvailable</strong>
                </NoDataTemplate>
            </TelerikGrid>
        </CascadingValue>
    </div>
</div>
<div class="row text-end m-space m-top">
    <div class="col">
        @{
            var openingInventoryItems = (OpeningInventories);
            if (!string.IsNullOrEmpty(RegionName) && !ReadOnlyFlag)
            {
                <AuthorizeView Policy="@(EditPimsPermissionName(RegionName))" Context="auth">
                    <TelerikButton Id="btn-save-inventory-rp" ThemeColor="primary" ButtonType="@ButtonType.Submit" @onclick="(() => SaveOpeningInventoryAsync(openingInventoryItems))">Save</TelerikButton>
                    <TelerikButton Id="btn-cancel-inventory-rp" ButtonType="@ButtonType.Button" @onclick="(() => CancelInventoryAsync())">Cancel</TelerikButton>
                </AuthorizeView>
            }
        }
    </div>
</div>
<TelerikWindow Modal="true" @bind-Visible="@StatusPopup">
    <WindowContent>
        <div class="row p-3 fs-6">@StatusMessageContent</div>
        <div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
    </WindowContent>
</TelerikWindow>
