@page "/{selectedRole}/{areaValue}/plans/shared"
@using MPC.PlanSched.Shared.Service.Schema
@using MPC.PlanSched.Shared.Common.Extensions
@using MPC.PlanSched.UI.ViewModel
@using Microsoft.Extensions.Logging
@using MPC.PlanSched.UI.Shared
@using MPC.PlanSched.Service
@using MPC.PlanSched.Shared.Common
@using System.Globalization
@using Microsoft.FeatureManagement
@using Microsoft.AspNetCore.Authorization

@inject ILogger<SharePlans> logger
@inject IFeatureManager featureManager
@inherits PlanBaseComponent

<Spinner IsVisible="@IsLoading()" />
<div class="row">
    <div class="col-12 m-space">
        <div class="font-600 font-26"><i class="fa-solid fa-earth-americas" />  @(Area.Description()) - @(ConfigurationUI.MidtermRegion)</div>
    </div>
    <div class="col-12 m-space d-flex justify-content-between align-items-center">
        <div class="font-20">Select a Region to view / edit regional plans</div>
    </div>
    <div class="col-12">
        <TelerikGrid Data="@BusinessCases" FilterMode="@GridFilterMode.FilterMenu" FilterMenuType="@FilterMenuType.CheckBoxList" Class="grid-no-scroll">
            <GridAggregates>
                <GridAggregate Field="Region" Aggregate="@GridAggregateType.Count" />
            </GridAggregates>
            <GridColumns>
                <GridColumn Field="@nameof(BusinessCase.CreatedBy)" Title="User" />
                <GridColumn Field="@nameof(BusinessCase.Id)" Title="Plan ID">
                    <Template>
                        @{
                            var businessCase = (BusinessCase)context;
                        }
                        <div class="font-700">@(businessCase.Id)</div>
                    </Template>
                </GridColumn>
                <GridColumn Field="@nameof(BusinessCase.RefineryName)" Title="Refinery" />
                <GridColumn Field="" Title=@_localTimezone>
                    <Template>
                        @{
                            var businessCase = (BusinessCase)context;
                        }
                        <div class="font-700">@(businessCase.UpdatedOn)</div>
                        <div> @(businessCase.UpdatedBy)</div>
                    </Template>
                </GridColumn>
                <GridColumn Title="">
                    <Template>
                        @{
                            var item = (BusinessCase)context;
                            <a id="viewSavedPlanButton" class="hand-pointer font-500 custom-link" @onclick="(() => ViewPlan(item))">View Saved Plan</a>
                        }
                    </Template>
                </GridColumn>
                <GridColumn>
                    <Template>
                        @{
                            var businessCase = (BusinessCase)context;
                            <a class="hand-pointer font-500 custom-link" @onclick="(() => EditPlan(businessCase))">
                                <i class="fa-solid fa-edit"></i> Edit
                            </a>
                        }
                    </Template>
                </GridColumn>

                <GridColumn Title="Download" Width="5rem">
                    <Template>
                        @{
                            var businessCase = context as BusinessCase;
                            <div style="text-align: center;">
                                <i class="fa-solid fa-download hand-pointer custom-link" @onclick="(() => ExcelDownloadAsync(businessCase))"></i>
                            </div>
                        }
                    </Template>
                </GridColumn>

            </GridColumns>
        </TelerikGrid>

        <ExcelDownloadDialog @ref="_excelDialogRef" SelectedPriceTypeChanged="@OnPriceTypeChanged"
                             OnConfirm="() => ExcelDownloadAsync(_selectedBusinessCase)">
        </ExcelDownloadDialog>

        <Dialog @ref="_createFromSharedDialog"
                Title="Create Plan from Shared"
                OnConfirm="CreatePlanFromSharedAsync">
            <div class="dialog-content">
                <p>This will create a new Active plan based on the selected shared plan.</p>
                <p>Do you want to proceed?</p>
            </div>
        </Dialog>

        <TelerikWindow Modal="true" @bind-Visible="@StatusPopup">
            <WindowContent>
                <div class="row p-3 fs-6">@StatusMessageContent</div>
                <div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
            </WindowContent>
        </TelerikWindow>
    </div>
</div>