@page "/intransitdp/{selectedRole}/{businessCaseId:int}/{isHistoricalPlan:bool}"
@using MPC.PlanSched.UI.ViewModel
@using Microsoft.Extensions.Logging;
@using MPC.PlanSched.Service;
@using MPC.PlanSched.Shared.Service.Schema;
@using System.Globalization;
@using Microsoft.FeatureManagement

@inject IFeatureManager featureManager
@inherits PlanBaseComponent;

<Spinner IsVisible="@IsLoading()" />

<div class="row align-items-center">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <a class="fa fa-long-arrow-left text-decoration-none d-link" @onclick="() => NavigateToRegionDP(SelectedRole)"></a>
            </div>
            <div class="col font-600">@UIConstants.EditPlan @RegionTitle <br />(@PlanDescription) </div>
        </div>
    </div>
    <div class="col">
        <div class="col font-600">@DataLoadingStatusMessage</div>
    </div>
    <div class="col-auto">
        <span class="font-14 font-700" id="region-updated-on">@PlanUpdatedOn</span>
        <div>
            <TelerikButton Id="intransit-inventory-dp-excel-download-btn" OnClick="@ExcelDownloadAsync" Size="small"><i class="fa-solid fa-download"></i> Download</TelerikButton>
        </div>
    </div>
</div>
<div class="row align-items-center m-title-text m-space">
    <div class="col m-p">
        <div class="font-700">@UIConstants.PeriodStartDate</div>
        <div class="d-inline-block" id="period-start-date">@PeriodStartDate</div>
        <a class="d-none">
            <img src="../Images/Icon3.svg" width="30" height="20" class="m-r-10" />
        </a>
    </div>
    <div class="col font-700">@UIConstants.PlanType @PlanType</div>
    <div class="col-auto">
        <div class="font-700 text-end">@UIConstants.SortBy</div>
    </div>
    <div class="col-5">
        <TelerikButtonGroup SelectionMode="@ButtonGroupSelectionMode.Single">
            <ButtonGroupToggleButton @bind-Selected="@NoneSelected" @onclick="() => SortInTransitInventoryBy(x => x.Id)">None</ButtonGroupToggleButton>
            <ButtonGroupToggleButton @onclick="() => SortInTransitInventoryBy(x => x.ProductName)">Material</ButtonGroupToggleButton>
            <ButtonGroupToggleButton @onclick="() => SortInTransitInventoryBy(x => x.TransportMode)">Mode</ButtonGroupToggleButton>
        </TelerikButtonGroup>
    </div>
</div>
<div class="row m-0">
    <div class="col p-0">
        <CascadingValue Value="ReadOnlyFlag">
            @if (IsReady)
            {
                <InTransitInventoryDPGrid IsReady=@IsReady @ref="DPInTransitInventoryReference" InTransitInventories=@InTransitInventories OverrideTypes="@OverrideTypes" />
            }
        </CascadingValue>
    </div>
</div>
<div class="row text-end m-top">
    <div class="col">
        @{
            var inTransitInventoryItems = (InTransitInventories);
            if (!string.IsNullOrEmpty(RegionName) && !ReadOnlyFlag)
            {
                <AuthorizeView Policy="@(EditDpoPermissionName(RegionName))" Context="auth">
                    <TelerikButton Id="btn-save-intransit-inventory" ThemeColor="primary" ButtonType="@ButtonType.Submit"
                                   @onclick="(() => SaveInTransitInventoryForecastAsync(inTransitInventoryItems))">Save</TelerikButton>
                    <TelerikButton Id="btn-cancel-intransit-inventory" ButtonType="@ButtonType.Button" @onclick="(() => CancelInTransitInventoryForecastAsync())">Cancel</TelerikButton>
                </AuthorizeView>
            }
        }
    </div>
</div>
@if (featureManager.IsEnabledAsync(FeatureFlags.ManualData).Result && IsReady)
{
    <div class="row m-0 mt-4">
        <div class="col p-0">
            <span class="font-700 k-font-weight-bold">Manual InTransit</span>
            <CascadingValue Value="ReadOnlyFlag">
                <InTransitInventoryDPGrid IsReady=@IsReady @ref="DPNetworkInTransitInventoryReference" InTransitInventories=@InTransitInventoriesNetworkData OverrideTypes="@OverrideTypes"
                                          IsDataInputDateVisible=true IsOverrideVisible=false />
            </CascadingValue>
        </div>
    </div>
}
<TelerikWindow Modal="true"
               @bind-Visible="@StatusPopup">
    <WindowContent>
        <div class="row p-3 fs-6">@StatusMessageContent</div>
        <div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
    </WindowContent>
</TelerikWindow>
