@inherits PlanBaseComponent

<TelerikGrid id="intransit-inventories-grid-dp" TItem="InTransitInventory" OnRead=@OnReadHandlerAsync @ref="@GridInTransitInventoryReference" Height="60vh" Width="100%"
             Sortable="true" Resizable="true"
             Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
             FilterMenuType="@FilterMenuType.CheckBoxList"
             ShowColumnMenu="true" Reorderable="true" Pageable="false"
             LoadGroupsOnDemand=@LoadGroupsOnDemand>
  
    <GridToolBarTemplate>
        <TelerikButton Size="sm" ButtonType="@ButtonType.Submit"
                       @onclick="ToggleInventoryGridGroupByCollapseAsync"
                       Icon="@( LoadGroupsOnDemand ? SvgIcon.Plus : SvgIcon.Minus )"
                       Title="@( LoadGroupsOnDemand ? "Expand" : "Collapse" )">Expand/Collapse all groups</TelerikButton>
    </GridToolBarTemplate>
    <GridAggregates>
        <GridAggregate Field=@nameof(InTransitInventory.ProductName) Aggregate="@GridAggregateType.Count" />
        <GridAggregate Field=@nameof(InTransitInventory.TransportMode) Aggregate="@GridAggregateType.Count" />
        <GridAggregate Field=@nameof(InTransitInventory.SystemQty) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(InTransitInventory.OverrideQtyCalculated) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(InTransitInventory.SystemLeadDay) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(InTransitInventory.OverrideLeadDay) Aggregate="@GridAggregateType.Sum" />
    </GridAggregates>
    <GridSettings>
        <GridColumnMenuSettings Lockable="false">
            <GridColumnMenuChooser>
                <Template>
                    @{
                        var columns = context.Columns;
                        foreach (var column in columns)
                        {
                            <GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
                        }
                    }
                </Template>
            </GridColumnMenuChooser>
        </GridColumnMenuSettings>
    </GridSettings>
    <GridColumns>
        <GridColumn id="intransit-product-name" Field="ProductName" Title="Material">
            <FilterMenuTemplate Context="context">
                <Filter Data="@ProductOptions"
                        Field="@(nameof(InTransitInventory.ProductName))" FilterDescriptor="@context.FilterDescriptor">
                </Filter>
            </FilterMenuTemplate>
            <GroupFooterTemplate>
                Sub Total
            </GroupFooterTemplate>
            <FooterTemplate>
                Total Records: @context.Count
            </FooterTemplate>
        </GridColumn>
        <GridColumn id="intransit-from-location-name" Field="FromLocationName" Title="From">
            <FilterMenuTemplate Context="context">
                <Filter Data="@FromLocationOptions"
                        Field="@(nameof(InTransitInventory.FromLocationName))" FilterDescriptor="@context.FilterDescriptor">
                </Filter>
            </FilterMenuTemplate>
        </GridColumn>
        <GridColumn id="intransit-to-location-name" Field="ToLocationName" Title="To">
            <FilterMenuTemplate Context="context">
                <Filter Data="@ToLocationOptions"
                        Field="@(nameof(InTransitInventory.ToLocationName))" FilterDescriptor="@context.FilterDescriptor">
                </Filter>
            </FilterMenuTemplate>
        </GridColumn>
        <GridColumn id="intransit-transport-mode" Field="TransportMode" Title="Mode"></GridColumn>
        <GridColumn Width="140px" Id="intransit-qty-override-type" Field="OverrideQtyValueTypeName" Title="Activity Override Type" Visible=@IsOverrideVisible>
            <Template>
                @{
                    var inTransitInventoryItem = context as InTransitInventory;
                    <select disabled="@ReadOnlyFlag" class="@(ReadOnlyFlag ? "custom-input-readonly" : "") form-control option-dropdown form-select"
                            id="overrideType" name="overrideType" @onchange="@((ChangeEventArgs e) => OnInventoryTypeChanged(e, context))">
                        @foreach (var type in OverrideTypes)
                        {
                            <option value="@type.Name" selected="@(type.Name == inTransitInventoryItem.OverrideQtyValueTypeName ? true : false)">@type.Name</option>
                        }
                    </select>
                }
            </Template>
        </GridColumn>
        <GridColumn id="intransit-qty-input-value" Field="OverrideQty" Title="Activity Input Value" Visible=@IsOverrideVisible>
            <Template>
                <InTransitInventoryInput Context="context"
                                         Precision=@inventoryQuantityDecimalPlaces
                                         ValueFunc="InventoryData => InventoryData.OverrideQty"
                                         OnChange="((ChangeEventArgs e) => OnInventoryOverride(e, context))" />
            </Template>
        </GridColumn>
        <GridColumn id="intransit-qty-calculated" Field="OverrideQtyCalculated" Title="Activity (MBs, Total Volume)">
            <Template>
                @{
                    var inTransitInventory = (InTransitInventory)context;
                    <div class="@(inTransitInventory.SetCssClassIfSystemInventoryNotEqualToOverrideInventory())">
                        Overridden: @inTransitInventory.DisplayInventoryQuantity(inTransitInventory.OverrideQtyCalculated)
                    </div>
                    <div class="font-14">System: @inTransitInventory.DisplayInventoryQuantity(inTransitInventory.SystemQty)</div>
                }
            </Template>
            <GroupFooterTemplate>
                @context.Sum
            </GroupFooterTemplate>
            <FooterTemplate>
                <CascadingValue Value="IsManualFooter">
                <GridFooterSum AggregateResults="@context?.AggregateResults"
                               OverrideProperty=@nameof(InTransitInventory.OverrideQtyCalculated)
                               InitialProperty=@nameof(InTransitInventory.SystemQty)
                               PrecisionFormat="@UIConstants.InventoryQuantityDigitPrecisionFormat" />
                </CascadingValue>
            </FooterTemplate>
        </GridColumn>
        <GridColumn id="intransit-lead-day" Field="OverrideLeadDay" Title="Lead (Days)">
            <Template>
                @{
                    var item = context as InTransitInventory;
                    if (@IsOverrideVisible)
                    {
                        <input class="@(ReadOnlyFlag ? "custom-input-readonly" : (@item.SystemLeadDay != @item.OverrideLeadDay ? "custom-inputDifferent" : ""))"
                               type="number" value="@item.DisplayInventoryDays(item.OverrideLeadDay)" readonly="@ReadOnlyFlag"
                               @onchange="@((ChangeEventArgs e) => OnLeadDayInventoryOverride(e, context))"
                               oninput="this.value = this.value.replace(/[^0-9]/g, '')">
                    }
                    <div class="font-14">System: @item.DisplayInventoryDays(item.SystemLeadDay)</div>
                }
            </Template>
            <GroupFooterTemplate>
                @context.Sum
            </GroupFooterTemplate>
            <FooterTemplate>
                <CascadingValue Value="IsManualFooter">
                <GridFooterSum AggregateResults="@context?.AggregateResults"
                               OverrideProperty=@nameof(InTransitInventory.OverrideLeadDay)
                               InitialProperty=@nameof(InTransitInventory.SystemLeadDay)
                               PrecisionFormat="@UIConstants.LeadDaysDigitPrecisionFormat" />
                </CascadingValue>
            </FooterTemplate>
        </GridColumn>
        <GridColumn id="intransit-system-qty-UOM" Field="SystemQtyUOM" Title="UOM"></GridColumn>
        <GridColumn Width="140px" Id="intransit--data-input-date" Field="DataInputDate" Title="Data Input Date" Visible=@IsDataInputDateVisible>
            <Template>
                @{
                    var inTransitInventory = (InTransitInventory)context;
                    <div>@inTransitInventory.DataInputDate?.ToString("MM/dd/yyyy")</div>
                }
            </Template>
        </GridColumn>
        <GridColumn id="intransit-modified-flag" Field="IsOverridden" Title="Data Override" Visible=@IsOverrideVisible>
            <Template>
                @{
                    var item = context as InTransitInventory;
                    item.SetOverrideFlag();
                    <div class="text-center">@item.IsOverridden</div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
    <NoDataTemplate>
        <strong>@UIConstants.NoDataAvailable</strong>
    </NoDataTemplate>
</TelerikGrid>
