@page "/backcastingoptimizationavailscost/{selectedRole}/{businessCaseId:int}/{isHistoricalPlan:bool}"
@using Microsoft.Extensions.Logging;
@using MPC.PlanSched.Service;
@using MPC.PlanSched.Shared.Service.Schema;
@using PlanSched.Shared.Common;
@using System.Globalization;
@using MPC.PlanSched.UI.Pages.ProductSupplyCost.Components;

@inherits BackcastingProductSupplyCostBaseComponent

<Spinner IsVisible="@IsLoading()" />

<div class="row align-items-center">
	<div class="col">
		<div class="row">
			<div class="col-auto">
				<a class="fa fa-long-arrow-left text-decoration-none d-link" @onclick="() => NavigateToRegionBackcasting(SelectedRole)"></a>
			</div>
			<div class="col font-600">@UIConstants.EditPlan @RegionTitle <br />(@PlanDescription) </div>
		</div>
	</div>
	<div class="col">
		<div class="col font-600">@DataLoadingStatusMessage</div>
	</div>
	<div class="col-auto d-flex flex-column align-items-center">
		<a class="hand-pointer font-500 custom-link"
		   @onclick="@(ReadOnlyFlag ? null : (() => _refreshModal.OpenAsync(RegionModel)))"
		   style="@(ReadOnlyFlag ? "pointer-events: none; opacity: 0.5;" : "")">
			Refresh Data
		</a>
		<CascadingValue Value="SelectedRole">
			<a class="hand-pointer font-500 custom-link mt-2"
			   @onclick="@(() => {_notificationModal.OpenAsync(RegionModel, SelectedRole, PlanNSchedConstant.SupplyCost);})">
			   Alerts and Notification
			</a>
		</CascadingValue>
	</div>

	<div class="col-auto">
		<span class="font-14 font-700" id="region-updated-on">@PlanUpdatedOn</span>
		<div>
			<TelerikButton Id="optimizationavails-excel-download-btn" OnClick="@(() =>{ _excelDialogRef.Open();})" Size="small">
				<i class="fa-solid fa-download"></i>Download
			</TelerikButton>
		</div>
	</div>
</div>
<div class="row align-items-center">
	<div class="col-2">
		<span class="font-14 font-700">@UIConstants.PriceEffectiveDate @PriceEffectiveDate</span>
	</div>
	<div class="col-2">
		<span class="font-14 font-700">@UIConstants.SupplyEffectiveDate @SupplyEffectiveDate</span>
	</div>
</div>
<div class="row align-items-center m-title-text m-space">
	<div class="col-auto">
		<div class="font-700">@UIConstants.PlanningPeriod</div>
	</div>
	<div class="col-3">
		<TelerikDropDownList id="ddl-period" Data="@Periods" TextField="PeriodDisplayName" ValueField="PeriodID"
							 Value="@SelectedPeriodId" ValueChanged="@( (int v) => {GetCrudeSupplyCosts(v);} )">
			<DropDownListSettings>
				<DropDownListPopupSettings Height="auto" />
			</DropDownListSettings>
			<HeaderTemplate>
				<strong>@UIConstants.SelectPeriod</strong>
			</HeaderTemplate>
			<NoDataTemplate>
				<div class="no-data-template">
					<TelerikFontIcon Class="k-icon k-icon-lg" Icon="@FontIcon.FilesError"></TelerikFontIcon>
					<p>@UIConstants.NoItemsAvailable</p>
				</div>
			</NoDataTemplate>
		</TelerikDropDownList>
	</div>
	<div class="col"></div>
	<div class="col-auto">
		<div class="font-700">@UIConstants.SortBy</div>
	</div>
	<div class="col-5">
		<TelerikButtonGroup SelectionMode="@ButtonGroupSelectionMode.Single">
			<ButtonGroupToggleButton @bind-Selected="@NoneSelected" @onclick="() => SortCrudeSupplyCostsBy(x => x.Id)">None</ButtonGroupToggleButton>
			<ButtonGroupToggleButton @onclick="() => SortCrudeSupplyCostsBy(x => x.LocationName)">Planning Region</ButtonGroupToggleButton>
			<ButtonGroupToggleButton @onclick="() => SortCrudeSupplyCostsBy(x => x.ProductName)">Product</ButtonGroupToggleButton>
		</TelerikButtonGroup>
	</div>
</div>
<div class="row m-0">
	<div class="col p-0">
		<span class="font-700; k-font-weight-bold">Crude Avail Supply and Cost</span>
        <TelerikGrid id="crude-avail-supply-grid" TItem="ProductSupplyAndCost" OnRead="@(args => OnReadHandlerAsync(args, IsReady, CrudeSupplyAndCostData))" @ref="@GridSupplyReference" Height="60vh" Width="1950px"
					 Sortable="true" Resizable="true"
					 Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
					 FilterMenuType="@FilterMenuType.CheckBoxList"
					 ShowColumnMenu="true" Reorderable="true" Pageable="false"
                     LoadGroupsOnDemand=@LoadGroupsOnSupply>
			<GridToolBarTemplate>
                <TelerikButton Size="sm" ButtonType="@ButtonType.Submit" @onclick="ToggleSupplyGridGroupByCollapseAsync"
                               Icon="@( LoadGroupsOnSupply ? SvgIcon.Plus : SvgIcon.Minus )"
                               Title="@( LoadGroupsOnSupply ? "Expand" : "Collapse" )">
					Expand/Collapse all groups
				</TelerikButton>
			</GridToolBarTemplate>
			<GridAggregates>
				<GridAggregate Field=@nameof(ProductSupplyAndCost.MinSupplyOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(ProductSupplyAndCost.SystemMinSupply) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(ProductSupplyAndCost.MaxSupplyOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(ProductSupplyAndCost.SystemMaxSupply) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(ProductSupplyAndCost.CostOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(ProductSupplyAndCost.SystemCost) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(ProductSupplyAndCost.SystemMidCost) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(ProductSupplyAndCost.ProductName) Aggregate="@GridAggregateType.Count" />
				<GridAggregate Field=@nameof(ProductSupplyAndCost.LocationName) Aggregate="@GridAggregateType.Count" />
			</GridAggregates>
			<GridSettings>
				<GridColumnMenuSettings Lockable="false">
					<GridColumnMenuChooser>
						<Template>
							@{
								var columns = context.Columns;
								foreach (var column in columns)
								{
									<GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
								}
							}
						</Template>
					</GridColumnMenuChooser>
				</GridColumnMenuSettings>
			</GridSettings>
			<GridColumns>
				<GridColumn Width="140px" id="rp-supply-location-name" Field="LocationName" Title="Location" Locked="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@LocationOptions"
                                Field="@(nameof(ProductSupplyAndCost.LocationName))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
					<GroupFooterTemplate>
						Subtotal:
					</GroupFooterTemplate>
					<FooterTemplate>
						Total Records: @context.Count
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" id="rp-supply-location-description" Field="LocationDescription" Title="Location Description" Locked="true" Visible="false"></GridColumn>
				<GridColumn Width="140px" id="rp-supply-pims-location-name" Field="ProductName" Title="PIMS Material Code" Locked="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@ProductOptions"
                                Field="@(nameof(ProductSupplyAndCost.ProductName))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
					<Template>
						@{
							var supplyAndCostData = (ProductSupplyAndCost)context;
							<div>@(supplyAndCostData.ProductName)</div>
							<div>@(supplyAndCostData.PIMSCode)</div>
						}
					</Template>
				</GridColumn>
				<GridColumn Width="140px" id="rp-supply-product-description" Field="ProductDescription" Title="Product Description" Locked="true"></GridColumn>
				<GridColumn Width="140px" id="rp-supply-min" Field="SystemMinSupply" Title="Min. Supply (MBD)" Locked="true">
					<Template>
						@{
							var supplyAndCostData = (ProductSupplyAndCost)context;
							<div>System: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.SystemMinSupply)</div>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<GridFooterSum AggregateResults="@context?.AggregateResults"
									   InitialProperty=@nameof(ProductSupplyAndCost.SystemMinSupply)
									   PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" id="rp-supply-max" Field="SystemMaxSupply" Title="Max. Supply (MBD)" Locked="true">
					<Template>
						@{
							var supplyAndCostData = (ProductSupplyAndCost)context;
							<div class="font-14">System: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.SystemMaxSupply)</div>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<GridFooterSum AggregateResults="@context?.AggregateResults"
									   InitialProperty=@nameof(ProductSupplyAndCost.SystemMaxSupply)
									   PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" id="rp-supply-uom" Field="SystemQtyUOM" Title="UOM" Visible="false"></GridColumn>
				<GridColumn Width="140px" id="rp-supply-cost" Field="SystemCost" Title="Settle Cost ($/bbl)" Locked="true">
					<Template>
						@{
							var item = context as ProductSupplyAndCost;
							<div class="font-14">System: @(item.SystemCost?.ToString(UIConstants.PriceDigitPrecisionFormat) ?? "")</div>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<GridFooterSum AggregateResults="@context?.AggregateResults"
									   InitialProperty=@nameof(ProductSupplyAndCost.SystemCost)
									   PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat" />
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" id="rp-supply-mid-cost" Field="SystemMidCost" Title="Mid Cost ($/bbl)" Locked="true">
					<Template>
						@{
							var item = context as ProductSupplyAndCost;
							<div class="font-14">System: @(item.SystemMidCost?.ToString(UIConstants.PriceDigitPrecisionFormat) ?? "")</div>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<GridFooterSum AggregateResults="@context?.AggregateResults"
									   InitialProperty=@nameof(ProductSupplyAndCost.SystemMidCost)
									   PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat" />
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" id="rp-supply-cost-uom" Field="SystemCostUOM" Title="CostUOM" Visible="false"></GridColumn>
			</GridColumns>
			<NoDataTemplate>
				<strong>@UIConstants.NoDataAvailable</strong>
			</NoDataTemplate>
		</TelerikGrid>
	</div>
</div>

<TelerikWindow Modal="true" @bind-Visible="@StatusPopup">
	<WindowContent>
		<div class="row p-3 fs-6">@StatusMessageContent</div>
		<div class="text-center">
			<TelerikButton OnClick="Close">Ok</TelerikButton>
		</div>
	</WindowContent>
</TelerikWindow>
<MPC.PlanSched.UI.Shared.RefreshDialog @ref="_refreshModal" />
<ExcelDownloadDialog @ref="_excelDialogRef" SelectedPriceTypeChanged="@OnPriceTypeChanged"
					 OnConfirm="() => ExcelDownloadAsync()">
</ExcelDownloadDialog>
<MPC.PlanSched.UI.Shared.NotificationDialog @ref="_notificationModal" />