@page "/productsupplycostrp/{selectedRole}/{businessCaseId:int}/{isHistoricalPlan:bool}"
@using MPC.PlanSched.UI.ViewModel
@using Microsoft.Extensions.Logging;
@using MPC.PlanSched.Service;
@using MPC.PlanSched.Shared.Service.Schema;
@using PlanSched.Shared.Common;
@using System.Globalization;
@using MPC.PlanSched.UI.Pages.ProductSupplyCost.Components;
@using Microsoft.FeatureManagement

@inject ILogger<ProductSupplyCostRP> logger;
@inject IFeatureManager _featureManager

@inherits ProductSupplyCostBaseComponent

<Spinner IsVisible="@IsLoading()" />

<div class="row align-items-center">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <a class="fa fa-long-arrow-left text-decoration-none d-link" @onclick="() => NavigateToRegionRP(SelectedRole)"></a>
            </div>
            <div class="col font-600">@UIConstants.EditPlan @RegionTitle <br />(@PlanDescription) </div>
        </div>
    </div>
    <div class="col">
        <div class="col font-600">@DataLoadingStatusMessage</div>
    </div>
    <div class="col-auto">
        <span class="font-14 font-700" id="region-updated-on">@PlanUpdatedOn</span>
        <div>
            <TelerikButton Id="supply-rp-excel-download-btn" OnClick="@ExcelDownloadAsync" Size="small"><i class="fa-solid fa-download"></i> Download</TelerikButton>
        </div>
    </div>
</div>
<div class="row align-items-center">
    <div class="col-2">
        <span class="font-14 font-700">@UIConstants.PriceEffectiveDate @PriceEffectiveDate</span>
    </div>
    <div class="col-2">
        <span class="font-14 font-700">@UIConstants.SupplyEffectiveDate @SupplyEffectiveDate</span>
    </div>
</div>
<div class="row align-items-center m-title-text m-space">
    <div class="col-auto">
        <div class="font-700">@UIConstants.PlanningPeriod</div>
    </div>
    <div class="col-3">
        <TelerikDropDownList id="ddl-period" Data="@Periods" TextField="PeriodDisplayName" ValueField="PeriodID"
                             Value="@SelectedPeriodId" ValueChanged="@( (int v) => {GetProductSupplyCostsOnPeriodSelectionChangedAsync(v);GetCrudeSupplyCostsOnPeriodSelectionChangedAsync(v);})">
            <DropDownListSettings>
                <DropDownListPopupSettings Height="auto" />
            </DropDownListSettings>
            <HeaderTemplate>
                <strong>@UIConstants.SelectPeriod</strong>
            </HeaderTemplate>
            <NoDataTemplate>
                <div class="no-data-template">
                    <TelerikFontIcon Class="k-icon k-icon-lg" Icon="@FontIcon.FilesError"></TelerikFontIcon>
                    <p>@UIConstants.NoItemsAvailable</p>
                </div>
            </NoDataTemplate>
        </TelerikDropDownList>
    </div>
    @if (ConfigurationUI.IsMidtermEnabled)
    {
        <div class="col"></div>
    }
    else
    {
        <div class="col font-700">@UIConstants.PlanType @PlanType</div>
    }
    <div class="col-auto">
        <div class="font-700">@UIConstants.SortBy</div>
    </div>
    <div class="col-5">
        <TelerikButtonGroup SelectionMode="@ButtonGroupSelectionMode.Single">
            <ButtonGroupToggleButton @bind-Selected="@NoneSelected" @onclick="() => SortProductSupplyCostsBy(x => x.Id)">None</ButtonGroupToggleButton>
            <ButtonGroupToggleButton @onclick="() => SortProductSupplyCostsBy(x => x.LocationName)">Planning Region</ButtonGroupToggleButton>
            <ButtonGroupToggleButton @onclick="() => SortProductSupplyCostsBy(x => x.ProductName)">Product</ButtonGroupToggleButton>
        </TelerikButtonGroup>
    </div>
</div>
<div class="row m-0">
    <div class="col p-0">
        <span class="font-700; k-font-weight-bold">Product Supply and Cost</span>
        @if (IsReady)
        {
            <ProductSupplyCostRPGrid IsReady=@IsReady @ref="RPSupplyReference" ProductSupplyAndCostData="@ProductSupplyAndCostSourceData" ReadOnlyFlag="@ReadOnlyFlag" IsHistoricalPlan="@IsHistoricalPlan" />
        }
    </div>
</div>
<div class="row text-end m-top">
    <div class="col">
        @{
            var productSupplyAndCostItems = (ProductSupplyAndCostData);
            if (!string.IsNullOrEmpty(RegionName) && !ReadOnlyFlag)
            {
                <AuthorizeView Policy="@(EditPimsPermissionName(RegionName))" Context="auth">
                    <TelerikButton Id="btn-save-supply-rp" ThemeColor="primary" ButtonType="@ButtonType.Submit"
                                   @onclick="(() => SaveProductSupplyCostAsync(productSupplyAndCostItems))">Save</TelerikButton>
                    <TelerikButton Id="btnCancelSupplyRP" ButtonType="@ButtonType.Button" @onclick="(() => CancelProductSupplyCost())">Cancel</TelerikButton>
                </AuthorizeView>
            }
        }
    </div>
</div>
@if (_featureManager.IsEnabledAsync(FeatureFlags.ManualData).Result && IsReady)
{
    <div class="row m-0 mt-4">
        <div class="col p-0">
            <span class="font-700; k-font-weight-bold">Manual Regional Supply</span>
            <ProductSupplyCostRPGrid IsReady=@IsReady @ref='RPRegionalSupplyReference' ProductSupplyAndCostData="@ProductSupplyAndCostRegionalData" ReadOnlyFlag="@ReadOnlyFlag" IsHistoricalPlan="@IsHistoricalPlan" IsDataInputDateVisible=true IsOverrideVisible=false />
        </div>
    </div>
    <div class="row m-0 mt-4">
        <div class="col p-0">
            <span class="font-700; k-font-weight-bold">Manual Refinery Supply</span>
            <ProductSupplyCostRPGrid IsReady=@IsReady @ref='RPRefinerySupplyReference' ProductSupplyAndCostData="@ProductSupplyAndCostRefineryData" ReadOnlyFlag="@ReadOnlyFlag" IsHistoricalPlan="@IsHistoricalPlan" IsDataInputDateVisible=true IsOverrideVisible=false />
        </div>
    </div>
}

<div class="row m-0 mt-4">
    <div class="col p-0">
        <span class="font-700; k-font-weight-bold">Crude Avail Supply and Cost</span>
        <TelerikGrid id="crude-avail-supply-grid " TItem="ProductSupplyAndCost" OnRead="@(args => OnReadHandlerAsync(args, IsReady, CrudeSupplyAndCostData))" @ref="@GridCrudeAvailSupplyReference" Height="60vh" Width="1950px"
                     Sortable="true" Resizable="true"
                     Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
                     FilterMenuType="@FilterMenuType.CheckBoxList"
                     ShowColumnMenu="true" Reorderable="true" Pageable="false"
                     LoadGroupsOnDemand=@LoadGroupsOnCrudeAvailSupply>
            <GridToolBarTemplate>
                <TelerikButton Size="sm" ButtonType="@ButtonType.Submit" @onclick="ToggleCrudeAvailSupplyGridGroupByCollapseAsync"
                               Icon="@( LoadGroupsOnCrudeAvailSupply ? SvgIcon.Plus : SvgIcon.Minus )"
                               Title="@( LoadGroupsOnCrudeAvailSupply ? "Expand" : "Collapse" )">
                    Expand/Collapse all groups
                </TelerikButton>
            </GridToolBarTemplate>
            <GridAggregates>
                <GridAggregate Field=@nameof(ProductSupplyAndCost.MinSupplyOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(ProductSupplyAndCost.SystemMinSupply) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(ProductSupplyAndCost.MaxSupplyOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(ProductSupplyAndCost.SystemMaxSupply) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(ProductSupplyAndCost.CostOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(ProductSupplyAndCost.SystemCost) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(ProductSupplyAndCost.ProductName) Aggregate="@GridAggregateType.Count" />
                <GridAggregate Field=@nameof(ProductSupplyAndCost.LocationName) Aggregate="@GridAggregateType.Count" />
            </GridAggregates>
            <GridSettings>
                <GridColumnMenuSettings Lockable="false">
                    <GridColumnMenuChooser>
                        <Template>
                            @{
                                var columns = context.Columns;
                                foreach (var column in columns)
                                {
                                    <GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
                                }
                            }
                        </Template>
                    </GridColumnMenuChooser>
                </GridColumnMenuSettings>
            </GridSettings>
            <GridColumns>
                <GridColumn Width="140px" id="rp-supply-location-name" Field="LocationName" Title="Location" Locked="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@LocationOptions"
                                Field="@(nameof(ProductSupplyAndCost.LocationName))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
                    <GroupFooterTemplate>
                        Subtotal:
                    </GroupFooterTemplate>
                    <FooterTemplate>
                        Total Records: @context.Count
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Width="140px" id="rp-supply-location-description" Field="LocationDescription" Title="Location Description" Locked="true" Visible="false"></GridColumn>
                <GridColumn Width="140px" id="rp-supply-pims-location-name" Field="ProductName" Title="PIMS Material Code" Locked="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@ProductOptions"
                                Field="@(nameof(ProductSupplyAndCost.ProductName))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
                    <Template>
                        @{
                            var supplyAndCostData = (ProductSupplyAndCost)context;
                            <div>@(supplyAndCostData.ProductName)</div>
                            <div>@(supplyAndCostData.PIMSCode)</div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Width="140px" id="rp-supply-product-description" Field="ProductDescription" Title="Product Description" Locked="true"></GridColumn>
                <GridColumn Width="140px" id="rp-supply-min" Field="MinSupplyOverrideCalculated" Title="Min. Supply (MBD)" Locked="true">
                    <Template>
                        @{
                            var supplyAndCostData = (ProductSupplyAndCost)context;
                            supplyAndCostData.ValidateSupplyValue();
                            <div class="@((@CommonHelper.IsValueDifferent(supplyAndCostData.SystemMinSupply, supplyAndCostData.MinSupplyOverrideCalculated, Constant.DisplayQtyDecimalPlaces)) ? "d-input-different" : "d-none") @((@supplyAndCostData.MinSupplyOverrideCalculated <= SupplyOverrideMinimumValue) ? "d-input-different-invalid" : "")">
                                Overridden: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.MinSupplyOverrideCalculated)
                            </div>
                            <div>System: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.SystemMinSupply)</div>
                            <span style="color:red">@supplyAndCostData.MinCalculatedValidationMessage</span>
                        }
                    </Template>
                    <GroupFooterTemplate>
                        @context.Sum
                    </GroupFooterTemplate>
                    <FooterTemplate>
                        <GridFooterSum AggregateResults="@context?.AggregateResults"
                                       OverrideProperty=@nameof(ProductSupplyAndCost.MinSupplyOverrideCalculated)
                                       InitialProperty=@nameof(ProductSupplyAndCost.SystemMinSupply)
                                       PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Width="140px" id="rp-supply-max" Field="MaxSupplyOverrideCalculated" Title="Max. Supply (MBD)" Locked="true">
                    <Template>
                        @{
                            var supplyAndCostData = (ProductSupplyAndCost)context;
                            supplyAndCostData.ValidateSupplyValue();
                            <div class="@((@CommonHelper.IsValueDifferent(supplyAndCostData.SystemMaxSupply, supplyAndCostData.MaxSupplyOverrideCalculated, Constant.DisplayQtyDecimalPlaces)) ? "d-input-different" : "d-none") @((@supplyAndCostData.MaxSupplyOverrideCalculated <= SupplyOverrideMinimumValue) ? "d-input-different-invalid" : "")">
                                Overridden: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.MaxSupplyOverrideCalculated)
                            </div>
                            <div class="font-14">System: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.SystemMaxSupply)</div>
                            <span style="color:red">@supplyAndCostData.MaxCalculatedValidationMessage</span>
                        }
                    </Template>
                    <GroupFooterTemplate>
                        @context.Sum
                    </GroupFooterTemplate>
                    <FooterTemplate>
                        <GridFooterSum AggregateResults="@context?.AggregateResults"
                                       OverrideProperty=@nameof(ProductSupplyAndCost.MaxSupplyOverrideCalculated)
                                       InitialProperty=@nameof(ProductSupplyAndCost.SystemMaxSupply)
                                       PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Width="140px" id="rp-supply-uom" Field="SystemQtyUOM" Title="UOM" Visible="false"></GridColumn>
                <GridColumn Width="140px" id="rp-supply-cost" Field="CostOverrideCalculated" Title="Cost ($/bbl)" Locked="true">
                    <Template>
                        @{
                            var item = context as ProductSupplyAndCost;
                            <div class="@((@CommonHelper.IsValueDifferent(item.SystemCost, item.CostOverrideCalculated, Constant.DisplayPriceDecimalPlaces)) ? "d-input-different" : "d-none")">
                                Overridden: @item.DisplaySupplyCost(item.CostOverrideCalculated)
                            </div>
                            <div class="font-14">System: @item.DisplaySupplyCost(item.SystemCost)</div>
                        }
                    </Template>
                    <GroupFooterTemplate>
                        @context.Sum
                    </GroupFooterTemplate>
                    <FooterTemplate>
                        <GridFooterSum AggregateResults="@context?.AggregateResults"
                                       OverrideProperty=@nameof(ProductSupplyAndCost.CostOverrideCalculated)
                                       InitialProperty=@nameof(ProductSupplyAndCost.SystemCost)
                                       PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat" />
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Width="140px" id="rp-supply-cost-uom" Field="SystemCostUOM" Title="CostUOM" Visible="false"></GridColumn>
                <GridColumn Width="140px" id="modified-flag" Field="IsOverridden" Title="Data Override">
                    <Template>
                        @{
                            var supplyAndCostData = (ProductSupplyAndCost)context;
                            supplyAndCostData.SetOverrideFlag();
                            <div class="text-center">@supplyAndCostData.IsOverridden</div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Width="140px" Id="rp-supply-Data-Input-Date" Field="DataInputDate" Title="Data Input Date">
                    <Template>
                        @{
                            var supplyAndCostData = (ProductSupplyAndCost)context;
                            <div>@supplyAndCostData.DataInputDate?.ToString("MM/dd/yyyy")</div>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
            <NoDataTemplate>
                <strong>@UIConstants.NoDataAvailable</strong>
            </NoDataTemplate>
        </TelerikGrid>
    </div>
</div>

<TelerikWindow Modal="true"
               @bind-Visible="@StatusPopup">
    <WindowContent>
        <div class="row p-3 fs-6">@StatusMessageContent</div>
        <div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
    </WindowContent>
</TelerikWindow>
