@inherits RefineryPremiseBaseComponent;
<Spinner IsVisible="@IsLoading()" />
<TelerikGrid id="refinery-premise-pinv-grid-rp" TItem="PinvConstraintModel" OnRead=@OnReadHandlerAsync @ref="@GridRefineryConstraintPinvReference" Height="60vh" Width="1950px"
			 Sortable="true" Resizable="true"
			 Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
			 FilterMenuType="@FilterMenuType.CheckBoxList"
			 ShowColumnMenu="true" Reorderable="true" Pageable="false"
			 LoadGroupsOnDemand=@LoadGroupsOnRefinery>
	<GridAggregates>
		<GridAggregate Field=@nameof(PinvConstraintModel.DefaultMin) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(PinvConstraintModel.DefaultMax) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(PinvConstraintModel.Min) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(PinvConstraintModel.Max) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(PinvConstraintModel.Open) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(PinvConstraintModel.HCost) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(PinvConstraintModel.OCost) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(PinvConstraintModel.CPrice) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(PinvConstraintModel.ConstraintTag) Aggregate="@GridAggregateType.Count" />
	</GridAggregates>
	<GridSettings>
		<GridColumnMenuSettings Lockable="false">
			<GridColumnMenuChooser>
				<Template>
					@{
						var columns = context.Columns;
						foreach (var column in columns)
						{
							<GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
						}
					}
				</Template>
			</GridColumnMenuChooser>
		</GridColumnMenuSettings>
	</GridSettings>
	<GridColumns>		
		<GridColumn Width="100px" Id="rp-refinery-constraint-tag" Field="ConstraintTag" Title="ROWNAMES" Locked="true" Visible="true">
            <FilterMenuTemplate Context="context">
                <Filter Data="@ProductOptions"
                        Field="@(nameof(PinvConstraintModel.ConstraintTag))" FilterDescriptor="@context.FilterDescriptor">
                </Filter>
            </FilterMenuTemplate>
			<GroupFooterTemplate>
				Sub Total
			</GroupFooterTemplate>
			<FooterTemplate>
				Total Records: @context.Count
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-constraint-description" Field="ConstraintDescription" Title="TEXT" Locked="true" Visible="true"> </GridColumn>
		<GridColumn Width="50px" Id="rp-refinery-constraint-reporting-sequence" Field="ReportingSequence" Title="ReportingSequence" Locked="true" Visible="false"> </GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-Open" Field="Open" Title="OPEN" Locked="false" Visible="true">
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(PinvConstraintModel.Open)
										  InitialProperty=@nameof(PinvConstraintModel.Open)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-default-min" Field="DefaultMin" Title="MIN" Locked="true" Visible="true">
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(PinvConstraintModel.DefaultMin)
										  InitialProperty=@nameof(PinvConstraintModel.DefaultMin)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="50px" Id="rp-refinery-constraint-target" Field="" Title="TARG" Locked="true" Visible="true"> </GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-default-max" Field="DefaultMax" Title="MAX" Locked="true" Visible="true">
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(PinvConstraintModel.DefaultMax)
										  InitialProperty=@nameof(PinvConstraintModel.DefaultMax)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-min" Field="Min" Title="@String.Format("MIN{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="false" Visible="true">
			<Template>
				@{
					var refineryPremiseData = (PinvConstraintModel)context;
					<div class="@(refineryPremiseData.IsDefaultAssignedInMin ? "d-input-different" : "d-none")">
						Assigned Default: 
					</div>
					<div>@refineryPremiseData.Min</div>
				}
			</Template>
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(PinvConstraintModel.Min)
										  InitialProperty=@nameof(PinvConstraintModel.Min)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-max" Field="Max" Title="@String.Format("MAX{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="false" Visible="true">
			<Template>
				@{
					var refineryPremiseData = (PinvConstraintModel)context;
					<div class="@(refineryPremiseData.IsDefaultAssignedInMax ? "d-input-different" : "d-none")">
						Assigned Default: 
					</div>
					<div>@refineryPremiseData.Max</div>
				}
			</Template>
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(PinvConstraintModel.Max)
										  InitialProperty=@nameof(PinvConstraintModel.Max)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>		
		<GridColumn Width="100px" Id="rp-refinery-HCost" Field="HCost" Title="HCOST" Locked="false" Visible="true">
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(PinvConstraintModel.HCost)
										  InitialProperty=@nameof(PinvConstraintModel.HCost)
										  PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="50px" Id="rp-refinery-constraint-pcost" Field="" Title="PCOST" Locked="true" Visible="true"> </GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-OCost" Field="OCost" Title="OCOST" Locked="false" Visible="true">
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(PinvConstraintModel.OCost)
										  InitialProperty=@nameof(PinvConstraintModel.OCost)
										  PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-CPrice" Field="CPrice" Title="CPRICE" Locked="false" Visible="true">
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(PinvConstraintModel.CPrice)
										  InitialProperty=@nameof(PinvConstraintModel.CPrice)
										  PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
	</GridColumns>
	<NoDataTemplate>
		<strong>@UIConstants.NoDataAvailable</strong>
	</NoDataTemplate>
</TelerikGrid>