@using MPC.PlanSched.Shared.Common.Extensions
@using MPC.PlanSched.Shared.Service.Schema
@inherits RefineryPremiseBaseComponent;
<Spinner IsVisible="@IsLoading()" />
<TelerikGrid id="refinery-premise-grid-rp" TItem="RefineryPremiseConstraintModel" OnRead=@OnReadHandlerAsync @ref="@GridRefineryConstraintReference" Height="60vh"  Width="1950px"
			 Sortable="true" Resizable="true"
			 Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
			 FilterMenuType="@FilterMenuType.CheckBoxList"
			 ShowColumnMenu="true" Reorderable="true" Pageable="false"
			 LoadGroupsOnDemand=@LoadGroupsOnRefinery>
	<GridAggregates>
		<GridAggregate Field=@nameof(RefineryPremiseConstraintModel.DefaultMin) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(RefineryPremiseConstraintModel.DefaultMax) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(RefineryPremiseConstraintModel.Min) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(RefineryPremiseConstraintModel.Max) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(RefineryPremiseConstraintModel.BackcastMin) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(RefineryPremiseConstraintModel.BackcastMax) Aggregate="@GridAggregateType.Sum" />
		<GridAggregate Field=@nameof(RefineryPremiseConstraintModel.ConstraintTag) Aggregate="@GridAggregateType.Count" />
	</GridAggregates>
	<GridSettings>
		<GridColumnMenuSettings Lockable="false">
			<GridColumnMenuChooser>
				<Template>
					@{
						var columns = context.Columns;
						foreach (var column in columns)
						{
							<GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
						}
					}
				</Template>
			</GridColumnMenuChooser>
		</GridColumnMenuSettings>
	</GridSettings>
	<GridColumns>		
		<GridColumn Width="100px" Id="rp-refinery-constraint-tag" Field="ConstraintTag" Title="ROWNAMES" Locked="true" Visible="true">
            <FilterMenuTemplate Context="context">
                <Filter Data="@ProductOptions"
                        Field="@(nameof(RefineryPremiseConstraintModel.ConstraintTag))" FilterDescriptor="@context.FilterDescriptor">
                </Filter>
            </FilterMenuTemplate>
			<GroupFooterTemplate>
				Sub Total
			</GroupFooterTemplate>
			<FooterTemplate>
				Total Records: @context.Count
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-constraint-description" Field="ConstraintDescription" Title="TEXT" Locked="true" Visible="true"> </GridColumn>
		<GridColumn Width="50px" Id="rp-refinery-constraint-reporting-sequence" Field="ReportingSequence" Title="ReportingSequence" Locked="true" Visible="false"> </GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-default-min" Field="DefaultMin" Title="MIN" Locked="true" Visible="true">
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
							   OverrideProperty=@nameof(RefineryPremiseConstraintModel.DefaultMin)
							   InitialProperty=@nameof(RefineryPremiseConstraintModel.DefaultMin)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
							   PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise"/>
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-default-max" Field="DefaultMax" Title="MAX" Locked="true" Visible="true">
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(RefineryPremiseConstraintModel.DefaultMax)
										  InitialProperty=@nameof(RefineryPremiseConstraintModel.DefaultMax)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-min" Field="Min" Title="@String.Format("MIN{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="true" Visible="true">
			<Template>
				@{
					var refineryPremiseData = (RefineryPremiseConstraintModel)context;
					<div class="@(refineryPremiseData.IsDefaultAssignedInMin ? "d-input-different" : "d-none")">
						Assigned Default: 
					</div>
					<div>@refineryPremiseData.Min</div>
				}
			</Template>
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(RefineryPremiseConstraintModel.Min)
										  InitialProperty=@nameof(RefineryPremiseConstraintModel.Min)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="100px" Id="rp-refinery-max" Field="Max" Title="@String.Format("MAX{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="true" Visible="true">
			<Template>
				@{
					var refineryPremiseData = (RefineryPremiseConstraintModel)context;
					<div class="@(refineryPremiseData.IsDefaultAssignedInMax ? "d-input-different" : "d-none")">
						Assigned Default: 
					</div>
					<div>@refineryPremiseData.Max</div>
				}
			</Template>
			<GroupFooterTemplate>
				@context.Sum
			</GroupFooterTemplate>
			<FooterTemplate>
				<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
										  OverrideProperty=@nameof(RefineryPremiseConstraintModel.Max)
										  InitialProperty=@nameof(RefineryPremiseConstraintModel.Max)
										  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
										  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RefineryPremise" />
			</FooterTemplate>
		</GridColumn>
		<GridColumn Width="50px" Id="rp-refinery-constraint-fix" Field="" Title="FIX" Locked="true" Visible="@(SelectedConstraint.Contains(RefineryPremiseConstraintType.Caps.Description(), StringComparison.OrdinalIgnoreCase) || SelectedConstraint.Contains(RefineryPremiseConstraintType.Bounds.Description(), StringComparison.OrdinalIgnoreCase))"> </GridColumn>
		<GridColumn Width="50px" Id="rp-refinery-constraint-free" Field="" Title="FREE" Locked="true" Visible="@(SelectedConstraint.Contains(RefineryPremiseConstraintType.Bounds.Description(), StringComparison.OrdinalIgnoreCase))"> </GridColumn>
		<GridColumn Width="50px" Id="rp-refinery-constraint-penalty" Field="" Title="PENALTY" Locked="true" Visible="@(SelectedConstraint.Contains(RefineryPremiseConstraintType.Caps.Description(), StringComparison.OrdinalIgnoreCase) || SelectedConstraint.Contains(RefineryPremiseConstraintType.Proclim.Description(), StringComparison.OrdinalIgnoreCase))"> </GridColumn>
		<GridColumn Width="50px" Id="rp-refinery-constraint-report" Field="" Title="REPORT" Locked="true" Visible="@(SelectedConstraint.Contains(RefineryPremiseConstraintType.Caps.Description(), StringComparison.OrdinalIgnoreCase) || SelectedConstraint.Contains(RefineryPremiseConstraintType.Proclim.Description()))"> </GridColumn>
	</GridColumns>
	<NoDataTemplate>
		<strong>@UIConstants.NoDataAvailable</strong>
	</NoDataTemplate>
</TelerikGrid>