@using MPC.PlanSched.Shared.Common
@inherits RegionalPremiseBaseComponent;
<Spinner IsVisible="@IsLoading()" />
<div class="row m-0">
	<div class="col p-0">
        <TelerikGrid id="regional-transfer-grid-rp" TItem="RegionalTransferModel" OnRead=@OnRegionalTransferReadHandlerAsync @ref="@GridRegionalTransferReference" Height="60vh"  Width="1950px"
					 Sortable="true" Resizable="true"
					 Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
					 FilterMenuType="@FilterMenuType.CheckBoxList"
					 ShowColumnMenu="true" Reorderable="true" Pageable="false"
					 LoadGroupsOnDemand=@LoadGroups>
			<GridToolBarTemplate>
				<TelerikButton Size="sm" ButtonType="@ButtonType.Submit" @onclick="ToggleRegionalTransferGridGroupByCollapseAsync"
							   Icon="@( LoadGroups ? SvgIcon.Plus : SvgIcon.Minus )"
							   Title="@( LoadGroups ? "Expand" : "Collapse" )">
					Expand/Collapse all groups
				</TelerikButton>
			</GridToolBarTemplate>
			<GridAggregates>
                <GridAggregate Field=@nameof(RegionalTransferModel.SystemDefaultMin) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(RegionalTransferModel.SystemDefaultMax) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalTransferModel.DefaultMin) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalTransferModel.DefaultMax) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalTransferModel.ConstraintTag) Aggregate="@GridAggregateType.Count" />
				<GridAggregate Field=@nameof(RegionalTransferModel.SystemCost) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalTransferModel.CostOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
			</GridAggregates>
			<GridSettings>
				<GridColumnMenuSettings Lockable="false">
					<GridColumnMenuChooser>
						<Template>
							@{
								var columns = context.Columns;
								foreach (var column in columns)
								{
									<GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
								}
							}
						</Template>
					</GridColumnMenuChooser>
				</GridColumnMenuSettings>
			</GridSettings>
			<GridColumns>
				<GridColumn Width="140px" Id="rp-regional-Transfer-constraint-tag" Field="ConstraintTag" Title="ROWNAMES" Locked="true" Visible="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@ProductOptions"
                                Field="@(nameof(RegionalTransferModel.ConstraintTag))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
					<GroupFooterTemplate>
						Sub Total
					</GroupFooterTemplate>
					<FooterTemplate>
						Total Records: @context.Count
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" Id="rp-regional-Transfer-constraint-description" Field="ConstraintDescription" Title="TEXT" Locked="true" Visible="true"> </GridColumn>
				<GridColumn Width="140px" Id="rp-regional-capsbounds-reporting-sequence" Field="ReportingSequence" Title="ReportingSequence" Locked="true" Visible="false"> </GridColumn>
                <GridColumn Width="140px" Id="rp-regional-Transfer-default-min" Field="SystemDefaultMin" Title="MIN" Locked="true" Visible="true">
                    <Template>
                        @{
                            var item = (RegionalTransferModel)context;
                            item.ValidateConstraintValue();
							<div class="@((@CommonHelper.IsValueDifferent(item.SystemDefaultMin, item.DefaultMin, Constant.DisplayQtyDecimalPlaces)) ? "d-input-different" : "d-none")">
								Overridden: @RegionalTransferModel.DisplayRegionalQuantity(item.DefaultMin)
                            </div>
                            <div>System: @item.SystemDefaultMin</div>
                            <span style="color:red">@(((RegionalTransferModel)context).DefaultMinValidationMessage)</span>
                        }
                    </Template>
                    <GroupFooterTemplate>
                        @context.Sum
                    </GroupFooterTemplate>
                    <FooterTemplate>
                        <PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
                                                  OverrideProperty=@nameof(RegionalTransferModel.DefaultMin
                                                  )
                                                  InitialProperty=@nameof(RegionalTransferModel.SystemDefaultMin)
                                                  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
                                                  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RegionalPremise" />
                    </FooterTemplate>

                </GridColumn>
                <GridColumn Width="140px" Id="rp-regional-Transfer-default-max" Field="SystemDefaultMax" Title="MAX" Locked="true" Visible="true">
                    <Template>
                        @{
                            var item = (RegionalTransferModel)context;
                            item.ValidateConstraintValue();
							<div class="@((@CommonHelper.IsValueDifferent(item.SystemDefaultMax, item.DefaultMax, Constant.DisplayQtyDecimalPlaces)) ? "d-input-different" : "d-none")">
								Overridden: @RegionalTransferModel.DisplayRegionalQuantity(item.DefaultMax)
                            </div>
                            <div>System: @item.SystemDefaultMax</div>
                            <span style="color:red">@item.DefaultMaxValidationMessage</span>
                        }
                    </Template>
                    <GroupFooterTemplate>
                        @context.Sum
                    </GroupFooterTemplate>
                    <FooterTemplate>
                        <PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
                                                  OverrideProperty=@nameof(RegionalTransferModel.DefaultMax)
                                                  InitialProperty=@nameof(RegionalTransferModel.SystemDefaultMax)
                                                  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
                                                  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RegionalPremise" />
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Width="140px" Id="rp-regional-Transfer-default-min-input" Field="DefaultMin" Title="MIN Value Override" Locked="true" Visible="true">
					<Template>
						<CascadingValue Value="ReadOnlyFlag">
							<RegionalTransferInput Context="context"
												   Precision=@ConstraintValueDecimalPlaces
												   ValueFunc="RegionalTransferData => GetValue(RegionalTransferData.SystemDefaultMin, RegionalTransferData.DefaultMin, RegionalTransferData.DefaultMin)"
												   OnChange="((ChangeEventArgs e) => OverrideTransferDefaultMinValue(e, context))" />
							<span style="color:red">@(((RegionalTransferModel)context).DefaultMinValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>
                <GridColumn Width="140px" Id="rp-regional-Transfer-default-max-input" Field="DefaultMax" Title="MAX Value Override" Locked="true" Visible="true">
					<Template>
						<CascadingValue Value="ReadOnlyFlag">
							<RegionalTransferInput Context="context"
												   Precision=@ConstraintValueDecimalPlaces
												   ValueFunc="RegionalTransferData => GetValue(RegionalTransferData.SystemDefaultMax, RegionalTransferData.DefaultMax, RegionalTransferData.DefaultMax)"
												   OnChange="((ChangeEventArgs e) => OverrideTransferDefaultMaxValue(e, context))" />
							<span style="color:red">@(((RegionalTransferModel)context).DefaultMaxValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>
				<GridColumn Width="140px" Id="rp-regional-Transfer-default-cost" Field="DefaultCost" Title="COST" Locked="true" Visible="true">
					<Template>
						@{
							var item = (RegionalTransferModel)context;
						}
						<CascadingValue Value="ReadOnlyFlag">
							<RegionalTransferInput Context="context"
												   Precision=@ConstraintCostDecimalPlaces
												   ValueFunc="RegionalTransferData => RegionalTransferData.DefaultCost"
												   OnChange="((ChangeEventArgs e) => OverrideTransferDefaultCostValue(e, context))" />
							<span style="color:red">@(((RegionalTransferModel)context).DefaultCostNegativeValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>								
				<GridColumn Width="140px" Id="rp-regional-Transfer-min" Field="Min" Title="@String.Format("MIN{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="true" Visible="true">
					<Template>
						@{
							var item = (RegionalTransferModel)context;
						}
						<CascadingValue Value="ReadOnlyFlag">
							<RegionalTransferInput Context="context"
												   Precision=@ConstraintValueDecimalPlaces
												   ValueFunc="RegionalTransferData => RegionalTransferData.Min"
												   OnChange="((ChangeEventArgs e) => OverrideTransferMinValue(e, context))" />
							<span style="color:red">@(((RegionalTransferModel)context).MinValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>
				<GridColumn Width="140px" Id="rp-regional-Transfer-max" Field="Max" Title="@String.Format("MAX{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="true" Visible="true">
					<Template>
						@{
							var item = (RegionalTransferModel)context;
						}
						<CascadingValue Value="ReadOnlyFlag">
							<RegionalTransferInput Context="context"
												   Precision=@ConstraintValueDecimalPlaces
												   ValueFunc="RegionalTransferData => RegionalTransferData.Max"
												   OnChange="((ChangeEventArgs e) => OverrideTransferMaxValue(e, context))" />
							<span style="color:red">@(((RegionalTransferModel)context).MaxValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>				
				<GridColumn Width="140px" Id="rp-regional-Transfer-cost" Field="SystemCost" Title="@String.Format("COST{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="true" Visible="true">
					<Template>
						@{
							var regionalTransferData = (RegionalTransferModel)context;
							regionalTransferData.ValidateCostValue();
							<div class="@((@CommonHelper.IsValueDifferent(regionalTransferData.SystemCost, regionalTransferData.CostOverrideCalculated, ConstraintCostDecimalPlaces))? "d-input-different" : "d-none")">
								Overridden: @regionalTransferData.CostOverrideCalculated
							</div>
							<div>System: @regionalTransferData.SystemCost</div>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
												  OverrideProperty=@nameof(RegionalTransferModel.CostOverrideCalculated)
												  InitialProperty=@nameof(RegionalTransferModel.SystemCost)
												  PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat"
												  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RegionalPremise" />
					</FooterTemplate>
				</GridColumn>				
				<GridColumn Width="140px" Id="rp-cost-override-absolute" Field="CostOverrideAbsolute" Title="@String.Format("COST{0} Value Override",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)">
					<Template>
						<CascadingValue Value="ReadOnlyFlag">
							<RegionalTransferInput Context="context"
												   Precision=@ConstraintCostDecimalPlaces
												   ValueFunc="RegionalTransferData => GetValue(RegionalTransferData.SystemCost, RegionalTransferData.CostOverrideCalculated, RegionalTransferData.CostOverrideAbsolute)"
												   OnChange="((ChangeEventArgs e) => OverrideTransferCostValue(e, context, UIConstants.AbsoluteEntityValue))" />
							<span style="color:red">@(((RegionalTransferModel)context).CostNegativeValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>
			</GridColumns>
			<NoDataTemplate>
				<strong>@UIConstants.NoDataAvailable</strong>
			</NoDataTemplate>
		</TelerikGrid>
	</div>
</div>
<div class="row text-end m-top">
	<div class="col">
		@{
			var regionalTransferModelItems = (RegionalTransferData);
			if (!string.IsNullOrEmpty(RegionName) && !ReadOnlyFlag)
			{
                <AuthorizeView Policy="@(EditPimsRegionalPremisePremissionName(RegionName))" Context="auth">
					<TelerikButton Id="btn-save-regional-transfer" ThemeColor="primary" ButtonType="@ButtonType.Submit"
								   @onclick="(() => SaveRegionalTransfarModelAsync(regionalTransferModelItems))">Save</TelerikButton>
					<TelerikButton Id="btnCancelRegionalTransfer" ButtonType="@ButtonType.Button"
								   @onclick="(() => CancelRegionalTransferModelAsync())">Cancel</TelerikButton>
				</AuthorizeView>
			}
		}
	</div>
</div>
<TelerikWindow Modal="true"
			   @bind-Visible="@StatusPopup">
	<WindowContent>
		<div class="row p-3 fs-6">@StatusMessageContent</div>
		<div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
	</WindowContent>
</TelerikWindow>