@using MPC.PlanSched.Shared.Common
@inherits RegionalPremiseBaseComponent;
<Spinner IsVisible="@IsLoading()" />
<div class="row m-0">
	<div class="col p-0">
        <TelerikGrid id="regional-caps-bounds-grid-rp" TItem="RegionalCapsBoundsModel" OnRead=@OnRegionalCapsBoundsReadHandlerAsync @ref="@GridRegionalCapsBoundsReference" Height="60vh"  Width="1950px"
					 Sortable="true" Resizable="true"
					 Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
					 FilterMenuType="@FilterMenuType.CheckBoxList"
					 ShowColumnMenu="true" Reorderable="true" Pageable="false"
					 LoadGroupsOnDemand=@LoadGroupsOnRegionalCapsBounds>
			<GridToolBarTemplate>
				<TelerikButton Size="sm" ButtonType="@ButtonType.Submit" @onclick="ToggleRegionalCapsBoundsGridGroupByCollapseAsync"
							   Icon="@( LoadGroupsOnRegionalCapsBounds ? SvgIcon.Plus : SvgIcon.Minus )"
							   Title="@( LoadGroupsOnRegionalCapsBounds ? "Expand" : "Collapse" )">
					Expand/Collapse all groups
				</TelerikButton>
			</GridToolBarTemplate>
			<GridAggregates>
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.MinOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.SystemMin) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.MaxOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.SystemMax) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.DefaultMinOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.SystemDefaultMin) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.DefaultMaxOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.SystemDefaultMax) Aggregate="@GridAggregateType.Sum" />
				<GridAggregate Field=@nameof(RegionalCapsBoundsModel.ConstraintTag) Aggregate="@GridAggregateType.Count" />
			</GridAggregates>
			<GridSettings>
				<GridColumnMenuSettings Lockable="false">
					<GridColumnMenuChooser>
						<Template>
							@{
								var columns = context.Columns;
								foreach (var column in columns)
								{
									<GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
								}
							}
						</Template>
					</GridColumnMenuChooser>
				</GridColumnMenuSettings>
			</GridSettings>
			<GridColumns>
				<GridColumn Width="140px" Id="rp-regional-capsbounds-constraint-tag" Field="ConstraintTag" Title="ROWNAMES" Locked="true" Visible="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@ProductOptions"
                                Field="@(nameof(RegionalCapsBoundsModel.ConstraintTag))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
					<GroupFooterTemplate>
						Sub Total
					</GroupFooterTemplate>
					<FooterTemplate>
						Total Records: @context.Count
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" Id="rp-regional-capsbounds-constraint-description" Field="ConstraintDescription" Title="TEXT" Locked="true" Visible="true"> </GridColumn>
				<GridColumn Width="140px" Id="rp-regional-capsbounds-reporting-sequence" Field="ReportingSequence" Title="ReportingSequence" Locked="true" Visible="false"> </GridColumn>
				<GridColumn Width="140px" Id="rp-regional-capsbounds-default-min" Field="DefaultMin" Title="MIN" Locked="true" Visible="true">
					<Template>
						@{
							var regionalCapsBoundsData = (RegionalCapsBoundsModel)context;
							regionalCapsBoundsData.ValidateConstraintValue();							
							<div class="@((@CommonHelper.IsValueDifferent(regionalCapsBoundsData.SystemDefaultMin, regionalCapsBoundsData.DefaultMinOverrideCalculated, Constant.DisplayQtyDecimalPlaces))? "d-input-different" : "d-none")">
								Overridden: @regionalCapsBoundsData.DisplayRegionalQuantity(regionalCapsBoundsData.DefaultMinOverrideCalculated)
							</div>
							<div>System: @regionalCapsBoundsData.SystemDefaultMin</div>
							<span style="color:red">@regionalCapsBoundsData.DefaultMinCalculatedValidationMessage</span>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
												  OverrideProperty=@nameof(RegionalCapsBoundsModel.DefaultMinOverrideCalculated)
												  InitialProperty=@nameof(RegionalCapsBoundsModel.SystemDefaultMin)
												  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
												  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RegionalPremise" />
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" Id="rp-regional-capsbounds-default-max" Field="DefaultMax" Title="MAX" Locked="true" Visible="true">
					<Template>
						@{
							var regionalCapsBoundsData = (RegionalCapsBoundsModel)context;
							regionalCapsBoundsData.ValidateConstraintValue();
							<div class="@((@CommonHelper.IsValueDifferent(regionalCapsBoundsData.SystemDefaultMax, regionalCapsBoundsData.DefaultMaxOverrideCalculated, Constant.DisplayQtyDecimalPlaces))? "d-input-different" : "d-none")">
								Overridden: @regionalCapsBoundsData.DisplayRegionalQuantity(regionalCapsBoundsData.DefaultMaxOverrideCalculated)
							</div>
							<div>System: @regionalCapsBoundsData.SystemDefaultMax</div>
							<span style="color:red">@regionalCapsBoundsData.DefaultMaxCalculatedValidationMessage</span>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
												  OverrideProperty=@nameof(RegionalCapsBoundsModel.DefaultMaxOverrideCalculated)
												  InitialProperty=@nameof(RegionalCapsBoundsModel.SystemDefaultMax)
												  PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
												  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RegionalPremise" />
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" Id="rp-regional-capsbounds-min" Field="SystemMin" Title="@String.Format("MIN{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="true" Visible="true">
					<Template>
						@{
							var regionalCapsBoundsData = (RegionalCapsBoundsModel)context;
							regionalCapsBoundsData.ValidateConstraintValue();
							<div class="@(regionalCapsBoundsData.IsDefaultAssignedInMin ? "d-input-different" : "d-none")">
								Assigned Default In System
							</div>
							<br />
							<div class="@((@CommonHelper.IsValueDifferent(regionalCapsBoundsData.SystemMin, regionalCapsBoundsData.MinOverrideCalculated, Constant.DisplayQtyDecimalPlaces))? "d-input-different" : "d-none")">
								Overridden: @regionalCapsBoundsData.DisplayRegionalQuantity(regionalCapsBoundsData.MinOverrideCalculated)
							</div>
							<div>System: @regionalCapsBoundsData.SystemMin</div>
							<span style="color:red">@regionalCapsBoundsData.MinCalculatedValidationMessage</span>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
									   OverrideProperty=@nameof(RegionalCapsBoundsModel.MinOverrideCalculated)
									   InitialProperty=@nameof(RegionalCapsBoundsModel.SystemMin)
									   PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
												  PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RegionalPremise" />
					</FooterTemplate>
				</GridColumn>
				<GridColumn Width="140px" Id="rp-regional-capsbounds-max" Field="SystemMax" Title="@String.Format("MAX{0}",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)" Locked="true" Visible="true">
					<Template>
						@{
							var regionalCapsBoundsData = (RegionalCapsBoundsModel)context;
							regionalCapsBoundsData.ValidateConstraintValue();
							<div class="@(regionalCapsBoundsData.IsDefaultAssignedInMax ? "d-input-different" : "d-none")">
								Assigned Default In System
							</div>
							<br />
							<div class="@((@CommonHelper.IsValueDifferent(regionalCapsBoundsData.SystemMax, regionalCapsBoundsData.MaxOverrideCalculated, Constant.DisplayQtyDecimalPlaces))? "d-input-different" : "d-none")">
                                Overridden: @regionalCapsBoundsData.DisplayRegionalQuantity(regionalCapsBoundsData.MaxOverrideCalculated)
							</div>
							<div>System: @regionalCapsBoundsData.SystemMax</div>
							<span style="color:red">@regionalCapsBoundsData.MaxCalculatedValidationMessage</span>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<PlanPremiseGridFooterSum AggregateResults="@context?.AggregateResults"
									   OverrideProperty=@nameof(RegionalCapsBoundsModel.MaxOverrideCalculated)
									   InitialProperty=@nameof(RegionalCapsBoundsModel.SystemMax)
									   PrecisionFormat="@UIConstants.PlanPremiseConstraintDigitalFormat"
									   PlanPremiseType="@PlanSched.Shared.Service.Schema.PlanPremiseType.RegionalPremise" />
					</FooterTemplate>
				</GridColumn>								

				<GridColumn Width="140px" Id="rp-default-min-value-override-absolute" Field="DefaultMinOverrideAbsolute" Title="MIN Value Override">
					<Template>
						<CascadingValue Value="ReadOnlyMinOverrideFlag">
							<RegionalCapsBoundsInput Context="context"
													 Precision=@ConstraintValueDecimalPlaces
													 ValueFunc="RegionalCapsBoundsData => GetValue(RegionalCapsBoundsData.SystemDefaultMin, RegionalCapsBoundsData.DefaultMinOverrideCalculated, RegionalCapsBoundsData.DefaultMinOverrideAbsolute)"
													 OnChange="((ChangeEventArgs e) => OverrideCapsBoundsDefaultMinValue(e, context, UIConstants.AbsoluteEntityValue))" />
							<span style="color:red">@(((RegionalCapsBoundsModel)context).DefaultMinCalculatedValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>
				<GridColumn Width="140px" Id="rp-default-max-value-override-absolute" Field="DefaultMaxOverrideAbsolute" Title="MAX Value Override">
					<Template>
						<CascadingValue Value="ReadOnlyMaxOverrideFlag">
							<RegionalCapsBoundsInput Context="context"
													 Precision=@ConstraintValueDecimalPlaces
													 ValueFunc="RegionalCapsBoundsData => GetValue(RegionalCapsBoundsData.SystemDefaultMax, RegionalCapsBoundsData.DefaultMaxOverrideCalculated, RegionalCapsBoundsData.DefaultMaxOverrideAbsolute)"
													 OnChange="((ChangeEventArgs e) => OverrideCapsBoundsDefaultMaxValue(e, context, UIConstants.AbsoluteEntityValue))" />
							<span style="color:red">@(((RegionalCapsBoundsModel)context).DefaultMaxCalculatedValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>


				<GridColumn Width="140px" Id="rp-min-value-override-absolute" Field="MinOverrideAbsolute" Title="@String.Format("MIN{0} Value Override",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)">
					<Template>
						<CascadingValue Value="ReadOnlyMinOverrideFlag">
							<RegionalCapsBoundsInput Context="context"
													 Precision=@ConstraintValueDecimalPlaces
													 ValueFunc="RegionalCapsBoundsData => GetValue(RegionalCapsBoundsData.SystemMin, RegionalCapsBoundsData.MinOverrideCalculated, RegionalCapsBoundsData.MinOverrideAbsolute)"
													 OnChange="((ChangeEventArgs e) => OverrideCapsBoundsMinValue(e, context, UIConstants.AbsoluteEntityValue))" />
							<span style="color:red">@(((RegionalCapsBoundsModel)context).MinCalculatedValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>				
				<GridColumn Width="140px" Id="rp-max-value-override-absolute" Field="MaxOverrideAbsolute" Title="@String.Format("MAX{0} Value Override",Periods.IndexOf(Periods.FirstOrDefault(p => p.PeriodID == SelectedPeriodId)) + 1)">
					<Template>
						<CascadingValue Value="ReadOnlyMaxOverrideFlag">
							<RegionalCapsBoundsInput Context="context"
													 Precision=@ConstraintValueDecimalPlaces
													 ValueFunc="RegionalCapsBoundsData => GetValue(RegionalCapsBoundsData.SystemMax, RegionalCapsBoundsData.MaxOverrideCalculated, RegionalCapsBoundsData.MaxOverrideAbsolute)"
													 OnChange="((ChangeEventArgs e) => OverrideCapsBoundsMaxValue(e, context, UIConstants.AbsoluteEntityValue))" />
							<span style="color:red">@(((RegionalCapsBoundsModel)context).MaxCalculatedValidationMessage)</span>
						</CascadingValue>
					</Template>
				</GridColumn>
			</GridColumns>
			<NoDataTemplate>
				<strong>@UIConstants.NoDataAvailable</strong>
			</NoDataTemplate>
		</TelerikGrid>
	</div>
</div>
<div class="row text-end m-top">
	<div class="col">
		@{
			var regionalCapsBoundsModelItems = (RegionalCapsBoundsData);
			if (!string.IsNullOrEmpty(RegionName) && !ReadOnlyFlag)
			{
                <AuthorizeView Policy="@(EditPimsRegionalPremisePremissionName(RegionName))" Context="auth">
					<TelerikButton Id="btn-save-regional-caps-bounds" ThemeColor="primary" ButtonType="@ButtonType.Submit"
								   @onclick="(() => SaveRegionalCapsBoundsModelAsync(regionalCapsBoundsModelItems))">Save</TelerikButton>
					<TelerikButton Id="btnCancelRegionalCapsBounds" ButtonType="@ButtonType.Button"
								   @onclick="(() => CancelRegionalCapsBoundsModelAsync())">Cancel</TelerikButton>
				</AuthorizeView>
			}
		}
	</div>
</div>
<TelerikWindow Modal="true"
			   @bind-Visible="@StatusPopup">
	<WindowContent>
		<div class="row p-3 fs-6">@StatusMessageContent</div>
		<div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
	</WindowContent>
</TelerikWindow>