@page "/{selectedRole}/regionalplanning/plans/historical"
@using MPC.PlanSched.Shared.Service.Schema
@using MPC.PlanSched.Model
@using Microsoft.Extensions.Logging
@inherits CommonBase
@inject ILogger<HistoricalPlansRP> logger;

<Spinner IsVisible="@IsLoading()" />

<div class="row">
	@if(ConfigurationUI.IsMidtermEnabled)
	{
		<div class="col-12 m-space">
			<div class="font-600 font-26"><i class="fa-solid fa-folder-open" /> Regional Planning - @(ConfigurationUI.MidtermRegion)</div>
		</div>
	}
	else
	{
		<div class="col-12 m-space">
			<div class="font-600 font-26"><i class="fa-solid fa-folder-open" /> Regional Planning - List of Historical Plans</div>
		</div>
	}
    <div class="col-12 m-space">
        <div class="font-20">Select a historical plan to view</div>
    </div>

    <div class="col-12">
        <TelerikGrid Data="@BusinessCasesList" Height="65vh"  Width="100%"
                     FilterMode="@GridFilterMode.FilterMenu"
                     FilterMenuType="@FilterMenuType.CheckBoxList" @ref="@HistoricalGridRPRef">
            <GridAggregates>
				@if (ConfigurationUI.IsMidtermEnabled)
				{
					<GridAggregate Field="@nameof(BusinessCase.Id)" Aggregate="@GridAggregateType.Count" />
				}
				else
				{
					<GridAggregate Field="Region" Aggregate="@GridAggregateType.Count" />
				}
            </GridAggregates>
            <GridColumns>
				@if (!ConfigurationUI.IsMidtermEnabled)
				{
					<GridColumn Field="Region" Title="Region">
						<FooterTemplate>
							Total Records: @context?.AggregateResults?.FirstOrDefault(a => a.Member == "Region")?.Value
						</FooterTemplate>
					</GridColumn>
				}
                @if (ConfigurationUI.IsMidtermEnabled)
				{
					<GridColumn Field="@nameof(BusinessCase.Id)" Title="Plan ID">
						<FooterTemplate>
							Total Records: @context?.AggregateResults?.FirstOrDefault(a => a.Member == nameof(BusinessCase.Id))?.Value
						</FooterTemplate>
					</GridColumn>
					<GridColumn Field="@nameof(BusinessCase.CreatedBy)" Title="User" />
                }
                <GridColumn Field="RefineryName" Title="Refineries" />
                <GridColumn Field="Name" Title="Plan Name" />
                <GridColumn Field="Description" Title="Description" />
                <GridColumn Field="CreatedBy" Title="Plan Created By" />
                <GridColumn Field="CreatedOn" Title="@CreatedOn" />
                <GridColumn Field="UpdatedBy" Title="Last Updated By" />
                <GridColumn Field="UpdatedOn" Title="@UpdatedOn" />
                @if (!ConfigurationUI.IsMidtermEnabled)
                {
                    <GridColumn Field="PlanType" Title="Plan Type"/>
                }
                <GridColumn Title="" >
                    <Template>
                        @{
                            var item = (BusinessCase)context;
                            <a  id="viewSavedPlanButton" class="hand-pointer font-500 custom-link" @onclick="(() => ViewPlan(item))">View Saved Plan</a>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="" >
                    <Template>
                        @{
                            var item = (BusinessCase)context;
                            <div style="text-align: center;">
                                <i id="excelDownloadButton" class="fa-solid fa-download hand-pointer custom-link" @onclick="(() => ExcelDownloadAsync(item))"></i>
                            </div>
                        }
                    </Template>
                </GridColumn>
                @if (ConfigurationUI.IsMidtermEnabled)
                {
                    <GridColumn Title="Delete" Width="5rem">
                        <Template>
                            @{
                                var item = (BusinessCase)context;
                                <div style="text-align: center;">
                                    <i class="fa-solid fa-trash-can hand-pointer custom-link" @onclick="@(() => {@BusinessCaseId = item.Id;
                                                           _deletedialog.Open(); })"></i>
                                </div>
                            }
                        </Template>
                    </GridColumn>
                }
            </GridColumns>
            <NoDataTemplate>
                <strong>No Data Available.</strong>
            </NoDataTemplate>
        </TelerikGrid>
    </div>
</div>
<Dialog @ref="_deletedialog" Title="Delete Plan" OnConfirm="@(() => DeletePlanAsync())">
	<h4><b>Are you sure you want to delete the transaction data from the historical plan?.</b></h4>
	<Spinner IsVisible="@IsLoading()" />
</Dialog>
<TelerikWindow Modal="true" @bind-Visible="@StatusPopup">
    <WindowContent>
        <div class="row p-3 fs-6">@StatusMessageContent</div>
        <div class="text-center">
            <TelerikButton OnClick="@(() => StatusPopup = false)">Ok</TelerikButton>
        </div>
    </WindowContent>
</TelerikWindow>
