@page "/{selectedRole}/refineryplanning/plans/historical"
@using MPC.PlanSched.Shared.Service.Schema
@inherits CommonBase

<Spinner IsVisible="@IsLoading()" />

<div class="row">
    <div class="col-12 m-space">
        <div class="font-600 font-26"><i class="fa-solid fa-folder-open" /> Refinery Planning - List of Historical Plans</div>
    </div>
    <div class="col-12 m-space">
        <div class="font-20">Select a historical plan to view</div>
    </div>

    <div class="col-12">
        <TelerikGrid Data="@RefineriesList" Height="65vh"  Width="100%"
                     FilterMode="@GridFilterMode.FilterMenu"
                     FilterMenuType="@FilterMenuType.CheckBoxList" @ref="@HistoricalGridRef">
            <GridAggregates>
                <GridAggregate Field="RegionName" Aggregate="@GridAggregateType.Count" />
            </GridAggregates>
            <GridColumns>
                <GridColumn Field="RegionName" Title="Region">
                    <FooterTemplate>
                        Total Records: @context.Count
                    </FooterTemplate>
                </GridColumn>
                <GridColumn Field="RefineryCode" Title="Refinery" />
                <GridColumn Field="BusinessCase.Name" Title="Plan Name" />
                <GridColumn Field="BusinessCase.Description" Title="Description" />
                <GridColumn Field="CreatedBy" Title="Plan Created By" />
                <GridColumn Field="CreatedOn" Title="Plan Create Date" />
                <GridColumn Field="UpdatedBy" Title="Last Updated By" />
                <GridColumn Field="UpdatedOn" Title="Last Updated On" />
                <GridColumn Title="">
                    <Template>
                        @{
                            var refineryModel = (RefineryModel)context;
                            <a id="viewSavedPlanButton" class="hand-pointer font-500 custom-link" @onclick="(() => ViewPlan(refineryModel))">View Saved Plan</a>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Field="">
                    <Template>
                        @{
                            var refineryModel = (RefineryModel)context;
                            <div style="text-align: center;">
                                <i id="excelDownloadButton" class="fa-solid fa-download hand-pointer custom-link" @onclick="(() => ExcelDownloadAsync(refineryModel))"></i>
                            </div>
                        }
                    </Template>
                </GridColumn>
            </GridColumns>
            <NoDataTemplate>
                <strong>No Data Available.</strong>
            </NoDataTemplate>
        </TelerikGrid>
    </div>
</div>