@inherits Pages.CommonBase
@inject Microsoft.Extensions.Logging.ILogger<NavMenu> logger;

<Spinner IsVisible="@IsLoading()" />
<div class="mpc-top-header">
	<nav class="k-breadcrumb k-breadcrumb-md">
		<ol class="k-breadcrumb-container">
			@foreach (var item in TopNavMenuItems)
			{
				<li class="k-breadcrumb k-breadcrumb-item">
					@if (item != TopNavMenuItems.FirstOrDefault())
					{
						<span class="bread-crumb-spacer">----</span>
					}
                    <span href="" class="k-breadcrumb-link cursor-pointer" @onclick="() => { OnMenuItemClick(item);}">
						<div style="align-content: center;">
							<div style="align-content: center;">
								<span class="breadcrumb-icon">
                                    <i class="@item.Icon @(item.CurrentPage ? "k-breadcrumb-current-item" : "")"
                                       style="@(item.Disabled == true ? "pointer-events: none; opacity: 0.5;" : "")">
                                    </i>
								</span>
							</div>
							<div>
								<span class="@(item.CurrentPage ? "k-breadcrumb-current-item" : "")">@item.Text</span>
							</div>
						</div>
					</span>
				</li>
			}
		</ol>
	</nav>
</div>
<ExcelDownloadDialog @ref="_downloadDialog" SelectedPriceTypeChanged="@OnPriceTypeChanged" OnConfirm="() => DownloadExcelAsync(businessCaseId)">
</ExcelDownloadDialog>

