@using MPC.PlanSched.Service
@using MPC.PlanSched.Shared.Service.Schema;
@using MPC.PlanSched.UI.ViewModel;
@using MPC.PlanSched.UI.Pages;
@using PlanSched.Shared.Common;
@using MPC.PlanSched.UI;
@using MPC.PlanSched.UI.Pages.ProductSupplyCost.Components;
@layout TelerikLayout;
@inherits PlanBaseComponent;

<Spinner IsVisible="@IsLoading()" />

<TelerikDialog @bind-Visible="@StatusPopup" Title="Notification" ShowCloseButton="false">
	<DialogContent>
		<TelerikGrid id="notification-grid" Data="@Notifications" Height="60vh" Width="100%"
					 ScrollMode="@GridScrollMode.Scrollable" Sortable="true" Resizable="true"
					 Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
					 FilterMenuType="@FilterMenuType.CheckBoxList"
					 ShowColumnMenu="true" Reorderable="true" Class="custom-icons">
			<GridSettings>
				<GridColumnMenuSettings Lockable="false">
					<GridColumnMenuChooser>
						<Template>
							@{
								var columns = context.Columns;
								foreach (var column in columns)
								{
									<div>
										<GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
									</div>
								}
							}
						</Template>
					</GridColumnMenuChooser>
				</GridColumnMenuSettings>
			</GridSettings>
			<GridColumns>
				<GridColumn id="notification-status" Field="@nameof(NotificationEventsModelUI.NotificationStatus)" Title="Notification Status" Width="500px">
					<Template Context="context">
						@{
							var notification = (context as NotificationEventsModelUI)?.NotificationStatus ?? "";
						}
						@((MarkupString)notification)
					</Template>
				</GridColumn>
				<GridColumn Width="100px" id="period-name" Field="@nameof(NotificationEventsModelUI.PeriodName)" Title="Period Name"></GridColumn>
				<GridColumn Width="100px" id="entity-name" Field="@nameof(NotificationEventsModelUI.EntityName)" Title="Entity Name"></GridColumn>
				<GridColumn Width="100px" id="severity-level" Field="@nameof(NotificationEventsModelUI.severityLevel)" Title="Severity Level"></GridColumn>
				<GridColumn Width="100px" id="occurrence-time" Field="@nameof(NotificationEventsModelUI.occurrenceTime)" Title="Occurrence Time"></GridColumn>
			</GridColumns>
			<NoDataTemplate>
				@{
					if (string.IsNullOrEmpty(NotificationError))
					{
						<strong>@UIConstants.NoDataAvailable</strong>
					}
					else
					{
						<strong style="color:red;">@NotificationError</strong>
					}
				}
			</NoDataTemplate>
		</TelerikGrid>
	</DialogContent>
	<DialogButtons>
		<TelerikButton OnClick="@(() => Close())">Cancel</TelerikButton>
	</DialogButtons>
</TelerikDialog>