@using MPC.PlanSched.Service
@using MPC.PlanSched.Shared.Service.Schema;
@using MPC.PlanSched.UI.ViewModel;
@using MPC.PlanSched.UI.Pages;
@using PlanSched.Shared.Common;
@using MPC.PlanSched.UI;
@layout TelerikLayout;
@inherits CommonBase

<TelerikDialog @bind-Visible="@isModalVisible"
               Title="REFRESH DATA"
               ShowCloseButton="false"
               Width="45%"
               @ref="dialogRef">
    <DialogContent>
        <h6>@ConfigurationUI.RefineryPremiseRefreshDataDialogMessage</h6>
        <div class="row m-space align-items-center mt-3">
            <div class="col-1"></div>
            <div class="col-5">
                <TelerikCheckBox Id="selectAllInterfaces" @bind-Value="@allSelected" OnChange="@AllPlanCheckBoxChange"></TelerikCheckBox>
                <label for="selectAllInterfaces" style="margin-left: 4px;">@Constant.AllEntities</label>
                <br />
                @foreach (var interfaces in GetInterfacesList())
                {                    
                    <div class="mt-sm" style="display: flex; align-items: center;">
                        <div style="display: flex; align-items: center;">
                            <TelerikCheckBox @bind-Value="@interfaces.IsSelected" Id="@interfaces.InterfaceName" OnChange="@InterfaceCheckboxChange" Enabled="@(!interfaces.IsDisabled)"></TelerikCheckBox>
                            <label class="@interfaces.InterfaceName" style="margin-left: 8px; white-space: nowrap;">@interfaces.InterfaceName</label>
                        </div>
                        @if (interfaces.InterfaceName.Contains(Constant.PriceAndCost))
                        {
                            <div style="display: flex; align-items: center; margin-left: 20px;">
                                <TelerikDatePicker class="telerik-date-picker"
                                                   @bind-Value="PriceEffectiveDate"
                                                   Format="@PlanNSchedConstant.DateFormat"
                                                   Max="@DateTime.UtcNow"
                                                   OnChange="@PriceEffectiveDateChange"
                                                   Enabled="@isDatePickerEnabled">
                                    <DatePickerFormatPlaceholder Month="MM" Day="dd" Year="yyyy" />
                                </TelerikDatePicker>
                            </div>
                        }
                    </div>                   
                }
            </div>
        </div>
    </DialogContent>

    <DialogButtons>
        <TelerikButton OnClick="@(() => { isModalVisible = false; allSelected = false; })">Cancel</TelerikButton>
		<TelerikButton OnClick="@RefreshDataAsync" ThemeColor="primary" Enabled="@_isOkEnabled">OK</TelerikButton>
    </DialogButtons>
</TelerikDialog>
<TelerikWindow Modal="true" @bind-Visible="@StatusPopup">
    <WindowContent>
        <div class="row p-3 fs-6">@StatusMessageContent</div>
        <div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
    </WindowContent>
</TelerikWindow>
