@page "/backcastingtransfercost/{selectedRole}/{businessCaseId:int}/{isHistoricalPlan:bool}"
@using MPC.PlanSched.Service
@using MPC.PlanSched.Shared.Service.Schema;
@using PlanSched.Shared.Common;
@using System.Globalization

@inherits PlanBaseComponent

<Spinner IsVisible="@IsLoading()" />

<div class="row align-items-center">
	<div class="col">
		<div class="row">
			<div class="col-auto">
				<a class="fa fa-long-arrow-left text-decoration-none d-link" @onclick="() => NavigateToRegionBackcasting(SelectedRole)"></a>
			</div>
			<div class="col font-600">@UIConstants.EditPlan @RegionTitle <br />(@PlanDescription) </div>
		</div>
	</div>
	<div class="col d-flex flex-column">
		<div class="font-600">@DataLoadingStatusMessage</div>
	</div>
	<div class="col-auto d-flex flex-column align-items-center">
		<a class="hand-pointer font-500 custom-link"
		   @onclick="@(ReadOnlyFlag ? null : (() => _refreshModal.OpenAsync(RegionModel)))"
		   style="@(ReadOnlyFlag ? "pointer-events: none; opacity: 0.5;" : "")">
			Refresh Data
		</a>
		<CascadingValue Value="SelectedRole">
			<a class="hand-pointer font-500 custom-link mt-2"
			   @onclick="@(() => {_notificationModal.OpenAsync(RegionModel, SelectedRole, PlanNSchedConstant.TransferCost);})">
				Alerts and Notification
			</a>
		</CascadingValue>
	</div>
	<div class="col-auto">
		<span class="font-14 font-700" id="region-updated-on">@PlanUpdatedOn</span>
		<div>
			<TelerikButton Id="transfercost-excel-download-btn" OnClick="@(() => { _excelDialogRef.Open();})" Size="small"><i class="fa-solid fa-download"></i> Download</TelerikButton>
		</div>
	</div>
</div>
<div class="row align-items-center m-title-text m-space">
	<div class="col-auto">
		<div class="font-700">@UIConstants.PlanningPeriod</div>
	</div>
	<div class="col-3">
		<TelerikDropDownList id="ddl-period" Data="@Periods" TextField="PeriodDisplayName" ValueField="PeriodID"
							 Value="@SelectedPeriodId" ValueChanged="@( (int v) => GetTransferCostOnPeriodSelectionChangedAsync(v) )">
			<DropDownListSettings>
				<DropDownListPopupSettings Height="auto" />
			</DropDownListSettings>
			<HeaderTemplate>
				<strong>@UIConstants.SelectPeriod</strong>
			</HeaderTemplate>
			<NoDataTemplate>
				<div class="no-data-template">
					<TelerikFontIcon Class="k-icon k-icon-lg" Icon="@FontIcon.FilesError"></TelerikFontIcon>
					<p>@UIConstants.NoItemsAvailable</p>
				</div>
			</NoDataTemplate>
		</TelerikDropDownList>
	</div>
	<div class="col"></div>
	<div class="col-auto">
		<div class="font-700">@UIConstants.SortBy</div>
	</div>
	<div class="col-5">
		<TelerikButtonGroup SelectionMode="@ButtonGroupSelectionMode.Single">
			<ButtonGroupToggleButton @bind-Selected="@NoneSelected" @onclick="() => SortTransportationCostBy(x => x.Id)">None</ButtonGroupToggleButton>
			<ButtonGroupToggleButton @onclick="() => SortTransportationCostBy(x => x.ProductName)">Material</ButtonGroupToggleButton>
			<ButtonGroupToggleButton @onclick="() => SortTransportationCostBy(x => x.TransportMode)">Mode</ButtonGroupToggleButton>
		</TelerikButtonGroup>
	</div>
</div>
<div class="row m-0">
	<div class="col p-0">
        <TelerikGrid id="transfercost-grid" TItem="TransferAndCost" OnRead=@OnReadHandlerAsync @ref="@GridTransportationCostReference" Height="60vh" Width="240vh"
					 Sortable="true" Resizable="true"
					 Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
					 FilterMenuType="@FilterMenuType.CheckBoxList"
					 ShowColumnMenu="true" Reorderable="true" Pageable="false"
					 LoadGroupsOnDemand=@LoadGroupsOnDemand>
			<GridToolBarTemplate>
				<TelerikButton Size="sm" ButtonType="@ButtonType.Submit" @onclick="ToggleTransferCostGridGroupByCollapseAsync"
							   Icon="@( LoadGroupsOnDemand ? SvgIcon.Plus : SvgIcon.Minus )"
							   Title="@( LoadGroupsOnDemand ? "Expand" : "Collapse" )">
					Expand/Collapse all groups
				</TelerikButton>
			</GridToolBarTemplate>
			<GridAggregates>
                <GridAggregate Field=@nameof(TransferAndCost.SystemMin) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(TransferAndCost.OverrideMinCalculated) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(TransferAndCost.SystemMax) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(TransferAndCost.OverrideMaxCalculated) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(TransferAndCost.SystemCost) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(TransferAndCost.OverrideCostCalculated) Aggregate="@GridAggregateType.Sum" />
                <GridAggregate Field=@nameof(TransferAndCost.ProductName) Aggregate="@GridAggregateType.Count" />
                <GridAggregate Field=@nameof(TransferAndCost.TransportMode) Aggregate="@GridAggregateType.Count" />
			</GridAggregates>
			<GridSettings>
				<GridColumnMenuSettings Lockable="false">
					<GridColumnMenuChooser>
						<Template>
							@{
								var columns = context.Columns;
								foreach (var column in columns)
								{
									<GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
								}
							}
						</Template>
					</GridColumnMenuChooser>
				</GridColumnMenuSettings>
			</GridSettings>
			<GridColumns>
                <GridColumn Width="155px" id="transfercost-product-name" Field="ProductName" Title="Material" Groupable="true" Locked="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@ProductOptions"
                                Field="@(nameof(TransferAndCost.ProductName))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
					<GroupFooterTemplate>
						Sub Total
					</GroupFooterTemplate>
					<FooterTemplate>
						Total Records: @context.Count
					</FooterTemplate>
				</GridColumn>
                <GridColumn Width="140px" Id="transfercost-product-description" Field="ProductDescription" Title="Material Description" Locked="true" Visible=false> </GridColumn>
                <GridColumn Width="155px" id="transfercost-from-location" Field="FromLocationName" Title="From" Groupable="true" Locked="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@FromLocationOptions"
                                Field="@(nameof(TransferAndCost.FromLocationName))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
                </GridColumn>
                <GridColumn Width="140px" Id="transfercost-from-location-description" Field="FromLocationDescription" Title="From Location Description" Locked="true" Visible=false> </GridColumn>
                <GridColumn Width="155px" id="transfercost-to-location" Field="ToLocationName" Title="To" Groupable="true" Locked="true">
                    <FilterMenuTemplate Context="context">
                        <Filter Data="@ToLocationOptions"
                                Field="@(nameof(TransferAndCost.ToLocationName))" FilterDescriptor="@context.FilterDescriptor">
                        </Filter>
                    </FilterMenuTemplate>
                </GridColumn>
                <GridColumn Width="140px" Id="transfercost-to-location-description" Field="ToLocationDescription" Title="To Location Description" Locked="true" Visible=false> </GridColumn>
                <GridColumn Width="150px" id="transfercost-mode" Field="TransportMode" Title="Mode" Groupable="true" Locked="true"></GridColumn>
                <GridColumn Width="140px" id="transfercost-cost-type" Field="CostType" Title="Type" Locked="true"></GridColumn>
                <GridColumn Width="140px" Id="transfercost-type-description" Field="TypeDescription" Title="Type Description " Locked="true" Visible=false> </GridColumn>
                <GridColumn Width="150px" Id="transfercost-min" Field="OverrideMinCalculated" Title="Min. Transfer (MBD)" Locked="true">
					<Template>
						@{
							var transportData = (TransferAndCost)context;
                            transportData.ValidateTransferValue();
							<div class="@((CommonHelper.IsValueDifferent(transportData.SystemMin, transportData.OverrideMinCalculated, Constant.DisplayTransferDecimalPlaces)) ? "d-input-different" : "d-none")
							 	@((transportData.OverrideMin <= TransportOverrideMinimumValue) ? "d-input-different-invalid" : "")">
                                Overridden: @transportData.DisplayTransferVolume(transportData.OverrideMinCalculated)
							</div>
							<div class="@((CommonHelper.IsValueDifferent(transportData.SystemMin, transportData.PreviousSystemMin, Constant.DisplayTransferDecimalPlaces)) ? "d-input-different" : "d-none")">
								Previous System: @(transportData.PreviousSystemMin?.ToString("0.000") ?? string.Empty)
							</div>
							<div>
								System: @(transportData.SystemMin?.ToString("0.000") ?? string.Empty)
							</div>
                            <span style="color:red">@transportData.MinCalculatedValidationMessage</span>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<GridFooterSum AggregateResults="@context?.AggregateResults"
                                       OverrideProperty=@nameof(TransferAndCost.OverrideMinCalculated)
                                       InitialProperty=@nameof(TransferAndCost.SystemMin)
									   PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
					</FooterTemplate>
				</GridColumn>
                <GridColumn Width="150px" Id="transfercost-max" Field="OverrideMaxCalculated" Title="Max. Transfer (MBD)" Locked="true">
					<Template>
						@{
                            var transportData = (TransferAndCost)context;
                            transportData.ValidateTransferValue();
							<div class="@((CommonHelper.IsValueDifferent(transportData.SystemMax, transportData.OverrideMaxCalculated, Constant.DisplayTransferDecimalPlaces)) ? "d-input-different" : "d-none")
								 	@((transportData.OverrideMin <= TransportOverrideMinimumValue) ? "d-input-different-invalid" : "")">
                                Overridden: @transportData.DisplayTransferVolume(transportData.OverrideMaxCalculated)
							</div>
							<div class="@((CommonHelper.IsValueDifferent(transportData.SystemMax, transportData.PreviousSystemMax, Constant.DisplayTransferDecimalPlaces)) ? "d-input-different" : "d-none")">
								Previous System: @(transportData.PreviousSystemMax?.ToString("0.000") ?? string.Empty)
							</div>
							<div>
								System: @(transportData.SystemMax?.ToString("0.000") ?? string.Empty)
							</div>
                            <span style="color:red">@transportData.MaxCalculatedValidationMessage</span>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<GridFooterSum AggregateResults="@context?.AggregateResults"
									   OverrideProperty=@nameof(TransferAndCost.OverrideMaxCalculated)
									   InitialProperty=@nameof(TransferAndCost.SystemMax)
									   PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
					</FooterTemplate>
				</GridColumn>
                <GridColumn Width="140px" Id="transfercost-qty-uom" Field="SystemQtyUOM" Title="UOM" Visible="false"></GridColumn>
                <GridColumn Width="140px" id="transfercost-cost" Field="OverrideCostCalculated" Title="Cost" Locked="true">
					<Template>
						@{
							var transportationCostData = (TransferAndCost)context;
							transportationCostData.ValidateCostValue();
							<div class="@((CommonHelper.IsValueDifferent(transportationCostData.SystemCost, transportationCostData.OverrideCostCalculated, Constant.DisplayPriceDecimalPlaces))? "d-input-different" : "d-none")">
								Overridden: @transportationCostData.DisplayTransportationCost(transportationCostData.OverrideCostCalculated)
							</div>
							<div class="font-14">System: @transportationCostData.DisplayTransportationCost(transportationCostData.SystemCost)</div>
						}
					</Template>
					<GroupFooterTemplate>
						@context.Sum
					</GroupFooterTemplate>
					<FooterTemplate>
						<GridFooterSum AggregateResults="@context?.AggregateResults"
                                       OverrideProperty=@nameof(TransferAndCost.OverrideCostCalculated)
                                       InitialProperty=@nameof(TransferAndCost.SystemCost)
									   PrecisionFormat="@UIConstants.TransportationCostDigitPrecisionFormat" />
					</FooterTemplate>
				</GridColumn>
                <GridColumn Width="140px" id="transfercost-min-absolute" Field="OverrideMinVolumeAbsolute" Title="Min Transfer Override">
					<Template>
						<CascadingValue Value="ReadOnlyFlag">
                            <TransferTransportationCostInput Context="context"
													 Precision=@TransportVolumeDecimalPlaces
													 ValueFunc="TransportationCostData => GetValue(TransportationCostData.SystemMin, TransportationCostData.OverrideMinCalculated, TransportationCostData.OverrideMinVolumeAbsolute)"
													 OnChange="((ChangeEventArgs e) => OverrideMinValue(e, context, UIConstants.AbsoluteEntityValue))" />
						</CascadingValue>
					</Template>
				</GridColumn>
                <GridColumn Width="140px" id="transfercost-max-absolute" Field="OverrideMaxVolumeAbsolute" Title="Max Transfer Override">
					<Template>
						<CascadingValue Value="ReadOnlyFlag">
                            <TransferTransportationCostInput Context="context"
													 Precision=@TransportVolumeDecimalPlaces
													 ValueFunc="TransportationCostData=> GetValue(TransportationCostData.SystemMax, TransportationCostData.OverrideMaxCalculated, TransportationCostData.OverrideMaxVolumeAbsolute)"
													 OnChange="((ChangeEventArgs e) => OverrideMaxValue(e,context, UIConstants.AbsoluteEntityValue))" />
						</CascadingValue>
					</Template>
				</GridColumn>
                <GridColumn Width="140px" id="transfercost-cost-absolute" Field="OverrideCostAbsolute" Title="Cost Override">
					<Template>
						<CascadingValue Value="ReadOnlyFlag">
                            <TransferTransportationCostInput Context="context"
													 Precision=@TransportCostDecimalPlaces
													 ValueFunc="TransportationCostData => GetValue(TransportationCostData.SystemCost, TransportationCostData.OverrideCostCalculated, TransportationCostData.OverrideCostAbsolute)"
													 OnChange="((ChangeEventArgs e) => OverrideCostValue(e, context, UIConstants.AbsoluteEntityValue))" />
						</CascadingValue>
					</Template>
				</GridColumn>
                <GridColumn Width="140px" id="transfercost-uom" Field="SystemCostUOM" Title="UOM (Currency/Unit)" Visible="false"></GridColumn>
				<GridColumn Width="140px" id="transfercost-modified-flag" Field="IsOverridden" Title="Data Override">
					<Template>
						@{
                            var transportationCostData = (TransferAndCost)context;
                            transportationCostData.SetOverrideTransferFlag();
							<div class="text-center">@transportationCostData.IsOverridden</div>
						}
					</Template>
				</GridColumn>
                <GridColumn Width="140px" id="transfercost-updated-by" Field="UpdatedBy" Title="Updated By">
                    <Template>
                        @{
                            var transportationCostData = (TransferAndCost)context;
                            <div class="text-center">@transportationCostData.UpdatedBy</div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Width="140px" id="transfercost-updated-on" Field="UpdatedOn" Title="Updated On">
                    <Template>
                        @{
                            var transportationCostData = (TransferAndCost)context;
                            var updatedOn = _localTimeZoneName == PlanNSchedConstant.DefaultTimeZone
                            ? transportationCostData.UpdatedOn.Value.ToLocalTime()
                            : UtilityUI.ConvertUTCToLocal(transportationCostData.UpdatedOn.Value, _localTimeZoneName);
                        }
                        <div class="text-center">@updatedOn</div>
                    </Template>
                </GridColumn>
                <GridColumn Width="140px" Id="transfercost-source" Field="DataSource" Title="DataSource">
                    <Template>
                        @{
                            var transportationCostData = (TransferAndCost)context;
                            <div class="text-center">@transportationCostData.DataSource</div>
                        }
                    </Template>
                </GridColumn>
                <GridColumn Width="140px" id="transfercost-comments" Field="Comments" Title="Comments">
                    <Template>
                        @{
                            var transportationCostData = (TransferAndCost)context;
                         }
                        <input type="text" class="form-control" @bind="transportationCostData.Comments" @oninput="(e) => ValidateCommentsLength(e, context)" disabled="@ReadOnlyFlag" />
                    </Template>
                </GridColumn>
			</GridColumns>
			<NoDataTemplate>
				<strong>@UIConstants.NoDataAvailable</strong>
			</NoDataTemplate>
		</TelerikGrid>
	</div>
</div>
<div class="row text-end m-top">
	<div class="col">
		@{
			var transportationCostItems = (@TransferCostData);
			if (!string.IsNullOrEmpty(RegionName) && !ReadOnlyFlag)
			{
                <AuthorizeView Policy="@(EditBackcastingPIMSPermissionName(RegionName))" Context="auth">
					<TelerikButton Id="btn-save-transfercost" ThemeColor="primary" ButtonType="@ButtonType.Submit" @onclick="(() => SaveTransportationCostOverridesAsync(transportationCostItems))">Save</TelerikButton>
					<TelerikButton Id="btn-cancel-transfercost" ButtonType="@ButtonType.Button" @onclick="(() => CancelTransportCostAsync())">Cancel</TelerikButton>
				</AuthorizeView>
			}
		}
	</div>
</div>
<TelerikWindow Modal="true"
			   @bind-Visible="@StatusPopup">
	<WindowContent>
		<div class="row p-3 fs-6">@StatusMessageContent</div>
		<div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
	</WindowContent>
</TelerikWindow>

<MPC.PlanSched.UI.Shared.RefreshDialog @ref="_refreshModal" />
<ExcelDownloadDialog @ref="_excelDialogRef" SelectedPriceTypeChanged="@OnPriceTypeChanged"
					 OnConfirm="() => ExcelDownloadAsync()">
</ExcelDownloadDialog>
<MPC.PlanSched.UI.Shared.NotificationDialog @ref="_notificationModal" />
