@page "/transportationcostdp/{selectedRole}/{businessCaseId:int}/{isHistoricalPlan:bool}"
@using MPC.PlanSched.Service
@using MPC.PlanSched.Shared.Service.Schema;
@using MPC.PlanSched.UI.ViewModel
@using PlanSched.Shared.Common;
@using System.Globalization
@using Microsoft.FeatureManagement

@inject IFeatureManager _featureManager
@inherits PlanBaseComponent
<Spinner IsVisible="@IsLoading()" />

<div class="row align-items-center">
    <div class="col">
        <div class="row">
            <div class="col-auto">
                <a class="fa fa-long-arrow-left text-decoration-none d-link" @onclick="() => NavigateToRegionDP(SelectedRole)"></a>
            </div>
            <div class="col font-600">@UIConstants.EditPlan @RegionTitle <br />(@PlanDescription) </div>
        </div>
    </div>
    <div class="col">
        <div class="col font-600">@DataLoadingStatusMessage</div>
    </div>
    <div class="col-auto">
        <span class="font-14 font-700" id="region-updated-on">@PlanUpdatedOn</span>
        <div>
            <TelerikButton Id="transportation-dp-excel-download-btn" OnClick="@ExcelDownloadAsync" Size="small"><i class="fa-solid fa-download"></i> Download</TelerikButton>
        </div>
    </div>
</div>
<div class="row align-items-center m-title-text m-space">
    <div class="col-auto">
        <div class="font-700">@UIConstants.PlanningPeriod</div>
    </div>
    <div class="col-3">
        <TelerikDropDownList id="ddl-period" Data="@Periods" TextField="PeriodDisplayName" ValueField="PeriodID"
                             Value="@SelectedPeriodId" ValueChanged="@((int v) => GetTransportationCostOnPeriodSelectionChangedAsync(v))">
            <DropDownListSettings>
                <DropDownListPopupSettings Height="auto" />
            </DropDownListSettings>
            <HeaderTemplate>
                <strong>@UIConstants.SelectPeriod</strong>
            </HeaderTemplate>
            <NoDataTemplate>
                <div class="no-data-template">
                    <TelerikFontIcon Class="k-icon k-icon-lg" Icon="@FontIcon.FilesError"></TelerikFontIcon>
                    <p>@UIConstants.NoItemsAvailable</p>
                </div>
            </NoDataTemplate>
        </TelerikDropDownList>
    </div>
    <div class="col font-700">@UIConstants.PlanType @PlanType</div>
    <div class="col-auto">
        <div class="font-700">@UIConstants.SortBy</div>
    </div>
    <div class="col-5">
        <TelerikButtonGroup SelectionMode="@ButtonGroupSelectionMode.Single">
            <ButtonGroupToggleButton @bind-Selected="@NoneSelected" @onclick="() => SortTransportationCostBy(x => x.Id)">None</ButtonGroupToggleButton>
            <ButtonGroupToggleButton @onclick="() => SortTransportationCostBy(x => x.ProductName)">Material</ButtonGroupToggleButton>
            <ButtonGroupToggleButton @onclick="() => SortTransportationCostBy(x => x.TransportMode)">Mode</ButtonGroupToggleButton>
        </TelerikButtonGroup>
    </div>
</div>
<div class="row m-0">
    <div class="col p-0">
        @if(IsReady)
        {
            <TransportationCostDPGrid IsReady=@IsReady @ref="DPTransportationReference" TransportationCostData="@TransportationCostSourceData" ReadOnlyFlag="@ReadOnlyFlag" IsHistoricalPlan="@IsHistoricalPlan" />
        }
    </div>
</div>
<div class="row text-end m-top">
    <div class="col">
        @{
            var transportationCostItems = (@TransportationCostData);
            if (!string.IsNullOrEmpty(RegionName) && !ReadOnlyFlag)
            {
                <AuthorizeView Policy="@(EditDpoPermissionName(RegionName))" Context="auth">
                    <TelerikButton Id="btn-save-transportationcost-dp" ThemeColor="primary" ButtonType="@ButtonType.Submit" @onclick="(() => SaveTransportCostForecastAsync(transportationCostItems))">Save</TelerikButton>
                    <TelerikButton Id="btn-cancel-transportationcost-dp" ButtonType="@ButtonType.Button" @onclick="(() => CancelTransportCostForecastAsync())">Cancel</TelerikButton>
                </AuthorizeView>
            }
        }
    </div>
</div>
@if (_featureManager.IsEnabledAsync(FeatureFlags.ManualData).Result && IsReady)
{
    <div class="mt-3">
        <span class="font-700 k-font-weight-bold">Manual Transportation Cost</span>
        <div class="col p-0">
            <TransportationCostDPGrid IsReady=@IsReady @ref='DPNetworkTransportationReference' TransportationCostData="@TransportationCostNetworkData" ReadOnlyFlag="@ReadOnlyFlag" IsHistoricalPlan="@IsHistoricalPlan" IsDataInputDateVisible=true IsOverrideVisible=false />
        </div>
    </div>
}
<TelerikWindow Modal="true"
               @bind-Visible="@StatusPopup">
    <WindowContent>
        <div class="row p-3 fs-6">@StatusMessageContent</div>
        <div class="text-center"><TelerikButton OnClick="Close">Ok</TelerikButton></div>
    </WindowContent>
</TelerikWindow>

