@using MPC.PlanSched.Shared.Common
@inherits ProductDemandPriceBaseComponent

<Spinner IsVisible="@IsLoading()" />

<TelerikGrid id="demand-grid-dp" TItem="ProductDemandAndPrice" OnRead="@(args => OnReadHandlerAsync(args, IsReady, ProductDemandAndPriceData))" @ref="@GridDemandReference" Height="60vh" Width="1950px"
             Sortable="true" Resizable="true"
             Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
             FilterMenuType="@FilterMenuType.CheckBoxList"
             ShowColumnMenu="true" 
             Reorderable="true" 
             Pageable="false"
             LoadGroupsOnDemand=@LoadGroupsOnDemand>
    <GridToolBarTemplate>
        <TelerikButton Size="sm" 
                       ButtonType="@ButtonType.Submit" 
                       @onclick="ToggleDemandGridGroupByCollapseAsync"
                       Icon="@( LoadGroupsOnDemand ? SvgIcon.Plus : SvgIcon.Minus )"
                       Title="@( LoadGroupsOnDemand ? "Expand" : "Collapse" )">
            Expand/Collapse all groups
        </TelerikButton>
        
        <div class="k-button-solid-base k-button k-button-solid k-button-sm k-rounded-md" hidden="@(!IsAggregatedTierVisible)">
            <TelerikCheckBox Id="myCheckBox" 
                             Value="@IsAggregatedTier"
                             ValueChanged="@((bool isAggregatedTier) => OnCheckBoxChangedAsync(isAggregatedTier))" />
            <label for="myCheckBox">@(IsAggregatedTier ? "Demand by Aggregated Tier" : "Demand by Aggregated Tier")</label>
        </div>
    </GridToolBarTemplate>
    
    <GridAggregates>
        <GridAggregate Field=@nameof(ProductDemandAndPrice.MinDemandOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductDemandAndPrice.SystemMinDemand) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductDemandAndPrice.MaxDemandOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductDemandAndPrice.SystemMaxDemand) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductDemandAndPrice.PriceOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductDemandAndPrice.SystemPrice) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductDemandAndPrice.ProductName) Aggregate="@GridAggregateType.Count" />
        <GridAggregate Field=@nameof(ProductDemandAndPrice.LocationName) Aggregate="@GridAggregateType.Count" />
    </GridAggregates>
    
    <GridSettings>
        <GridColumnMenuSettings Lockable="false">
            <GridColumnMenuChooser>
                <Template>
                    @{
                        var columns = context.Columns;
                        foreach (var column in columns)
                        {
                            <GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
                        }
                    }
                </Template>
            </GridColumnMenuChooser>
        </GridColumnMenuSettings>
    </GridSettings>
    
    <GridColumns>
        <GridColumn Width="140px" id="dp-demand-location-name" Field="LocationName" Title="Location" Locked="true">
             <FilterMenuTemplate Context="context">
                <Filter Data="@LocationOptions"
                        Field="@(nameof(ProductDemandAndPrice.LocationName))" FilterDescriptor="@context.FilterDescriptor">
                </Filter>
             </FilterMenuTemplate>
            <GroupFooterTemplate>
                Sub Total
            </GroupFooterTemplate>
            <FooterTemplate>
                Total Records: @context.Count
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="dp-demand-location-description" Field="LocationDescription" Title="Location Description" Locked="true" Visible="false">
        </GridColumn>
        <GridColumn Width="150px" id="dp-demand-pims-location-name" Field="ParentLocationName" Title="PIMS Location(Description)" Locked="true"
					Visible=@IsPIMSLocationVisible>
            <Template>
                @{
					var item = context as ProductDemandAndPrice;
					<span>
						@(!string.IsNullOrEmpty(item.ParentDescription)
											? item.ParentLocationName + " (" + item.ParentDescription + ")"
											: item.ParentLocationName)
					</span>
				}
			</Template>
        </GridColumn>
        <GridColumn Width="150px" Id="dp-demand-sub-region" Field=@nameof(ProductDemandAndPrice.SubRegion) Title="Sub Region"></GridColumn>
        <GridColumn Width="140px" id="dp-demand-product-name" Field=@nameof(ProductDemandAndPrice.ProductName) Title="Product Name & DPO Code" Locked="true">
             <FilterMenuTemplate Context="context">
            <Filter Data="@ProductOptions"
                    Field="@(nameof(ProductDemandAndPrice.ProductName))" FilterDescriptor="@context.FilterDescriptor">
            </Filter>
             </FilterMenuTemplate>
            <Template>
                @{
					<div>@((context as ProductDemandAndPrice).ProductName)</div>
					<div>@((context as ProductDemandAndPrice).PIMSCode)</div>
				}
			</Template>
        </GridColumn>
        <GridColumn Width="140px" id="dp-demand-product-description" Field="ProductDescription" Title="Product Description" Locked="true" Visible="false"></GridColumn>
        <GridColumn Width="120px" id="dp-demand-tier" Field="Tier" Title="Tier" Locked="true"></GridColumn>
        <GridColumn Width="140px" id="dp-demand-min" Field="MinDemandOverrideCalculated" Title="Min. Demand (MBD)" Locked="true">
            <Template>
                @{
					var demandAndPriceData = (ProductDemandAndPrice)context;
					demandAndPriceData.ValidateDemandValue();
					<div class="@((CommonHelper.IsValueDifferent(demandAndPriceData.SystemMinDemand, demandAndPriceData.MinDemandOverrideCalculated, Constant.DisplayQtyDecimalPlaces)) ? "d-input-different" : "d-none") @((@demandAndPriceData.MinDemandOverrideCalculated <= DemandOverrideMinimumValue) ? "d-input-different-invalid" : "")">
						Overridden: @demandAndPriceData.DisplayDemandQuantity(demandAndPriceData.MinDemandOverrideCalculated)
					</div>
					<div class="font-14">System: @demandAndPriceData.DisplayDemandQuantity(demandAndPriceData.SystemMinDemand)</div>
					<span style="color:red">@demandAndPriceData.MinCalculatedValidationMessage</span>
				}
            </Template>
            <GroupFooterTemplate>
                @context.Sum
            </GroupFooterTemplate>
            <FooterTemplate>
                <CascadingValue Value="IsManualFooter">
                    <GridFooterSum AggregateResults="@context?.AggregateResults"
								   OverrideProperty=@nameof(ProductDemandAndPrice.MinDemandOverrideCalculated)
								   InitialProperty=@nameof(ProductDemandAndPrice.SystemMinDemand)
								   PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
                </CascadingValue>
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="dp-demand-max" Field="MaxDemandOverrideCalculated" Title="Max. Demand (MBD)" Locked="true">
            <Template>
                @{
					var demandAndPriceData = (ProductDemandAndPrice)context;
					demandAndPriceData.ValidateDemandValue();
					<div class="@((CommonHelper.IsValueDifferent(demandAndPriceData.SystemMaxDemand, demandAndPriceData.MaxDemandOverrideCalculated, Constant.DisplayQtyDecimalPlaces)) ? "d-input-different" : "d-none") @((@demandAndPriceData.MaxDemandOverrideCalculated <= DemandOverrideMinimumValue) ? "d-input-different-invalid" : "")">
						Overridden: @demandAndPriceData.DisplayDemandQuantity(demandAndPriceData.MaxDemandOverrideCalculated)
					</div>
					<div class="font-14">System: @demandAndPriceData.DisplayDemandQuantity(demandAndPriceData.SystemMaxDemand)</div>
					<span style="color:red">@demandAndPriceData.MaxCalculatedValidationMessage</span>
				}
            </Template>
            <GroupFooterTemplate>
                @context.Sum
            </GroupFooterTemplate>
            <FooterTemplate>
                <CascadingValue Value="IsManualFooter">
                    <GridFooterSum AggregateResults="@context?.AggregateResults"
								   OverrideProperty=@nameof(ProductDemandAndPrice.MaxDemandOverrideCalculated)
								   InitialProperty=@nameof(ProductDemandAndPrice.SystemMaxDemand)
								   PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
                </CascadingValue>
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="dp-demand-uom" Field="SystemQtyUOM" Title="UOM" Visible="false"></GridColumn>
        <GridColumn Width="140px" id="dp-demand-price" Field="PriceOverrideCalculated" Title="Price ($/bbl)" Locked="true">
            <Template>
                @{
					var demandAndPriceData = (ProductDemandAndPrice)context;
					demandAndPriceData.ValidatePriceValue();
					<div class="@((CommonHelper.IsValueDifferent(demandAndPriceData.SystemPrice, demandAndPriceData.PriceOverrideCalculated, Constant.DisplayPriceDecimalPlaces)) ? "d-input-different" : "d-none")">
						Overridden: @demandAndPriceData.DisplayDemandPrice(demandAndPriceData.PriceOverrideCalculated)
					</div>
					<div class="font-14">System: @demandAndPriceData.DisplayDemandPrice(demandAndPriceData.SystemPrice)</div>
				}
            </Template>
            <GroupFooterTemplate>
                @context.Sum
            </GroupFooterTemplate>
            <FooterTemplate>
                <CascadingValue Value="IsManualFooter">
                    <GridFooterSum AggregateResults="@context?.AggregateResults"
								   OverrideProperty=@nameof(ProductDemandAndPrice.PriceOverrideCalculated)
								   InitialProperty=@nameof(ProductDemandAndPrice.SystemPrice)
								   PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat" />
                </CascadingValue>
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="dp-demand-price-uom" Field="SystemPriceUOM" Title="PriceUOM" Visible="false"></GridColumn>
        <GridColumn Width="160px" Id="dp-min-demand-override-factor" Field="MinDemandOverrideFactor" Title="Min Demand Factor" Visible=@IsOverrideVisible>
			<HeaderTemplate>
				<span @onclick:stopPropagation>
				<div class="d-flex align-items-center justify-content-between" style="width: 100%;">
					<span>Min Demand Factor</span>
					<BulkOverridePopup @bind-Value="@BulkMinDemandFactorValue"
									   OnApplyClick="@(() => ApplyBulkMinDemandFactor())"
									   OnClearClick="@(() => ClearMinDemandFilteredOverrides())"
									   Decimals="@DemandQuantityDecimalPlaces"
									   Format="N6"
									   Title="Min Demand Factor"
									   Placeholder="e.g., 1.2"
									   Disabled="@(!(IsSouthRegion || IsAggregatedTier))" />
				</div>
				</span>
			</HeaderTemplate>
			<Template>
                @{
                    var demandAndPriceData = (ProductDemandAndPrice)context;
                    ReadOnlyMinOverrideFlag = demandAndPriceData.SetReadOnlyForMinOverride(ReadOnlyFlag);
                }
                <CascadingValue Value="ReadOnlyMinOverrideFlag">
                    <ProductDemandPriceInput Context="context"
                                             Precision=@DemandQuantityDecimalPlaces
                                             ValueFunc="DemandAndPriceData => DemandAndPriceData.MinDemandOverrideFactor"
                                             OnChange="((ChangeEventArgs e) => OverrideMinDemandValue(e, context, UIConstants.FactorEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        
        <GridColumn Width="140px" Id="dp-min-demand-override-delta" Field="MinDemandOverrideDelta" Title="Min Demand Delta" Visible=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyMinOverrideFlag">
                    <ProductDemandPriceInput Context="context"
                                             Precision=@DemandQuantityDecimalPlaces
                                             ValueFunc="DemandAndPriceData => DemandAndPriceData.MinDemandOverrideDelta"
                                             OnChange="((ChangeEventArgs e) => OverrideMinDemandValue(e, context, UIConstants.OffsetEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="dpMinDemandOverrideAbsolute" Field="MinDemandOverrideAbsolute" Title="Min Demand Override" Visible=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyMinOverrideFlag">
                    <ProductDemandPriceInput Context="context"
                                             Precision=@DemandQuantityDecimalPlaces
                                             ValueFunc="DemandAndPriceData => GetValue(DemandAndPriceData.SystemMinDemand, DemandAndPriceData.MinDemandOverrideCalculated, DemandAndPriceData.MinDemandOverrideAbsolute, Constant.DisplayQtyDecimalPlaces)"
                                             OnChange="((ChangeEventArgs e) => OverrideMinDemandValue(e, context, UIConstants.AbsoluteEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="160px" id="dp-max-demand-override-factor" Field="MaxDemandOverrideFactor" Title="Max Demand Factor" Visible=@IsOverrideVisible>
			<HeaderTemplate>
				<span @onclick:stopPropagation>
				   <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
					 <span>Max Demand Factor</span>
						<BulkOverridePopup @bind-Value="@BulkMaxDemandFactorValue"
										   OnApplyClick="@(() => ApplyBulkMaxDemandFactor())"
										   OnClearClick="@(() => ClearMaxDemandFilteredOverrides())"
										   Decimals="@DemandQuantityDecimalPlaces"
										   Format="N6"
										   Title="Max Demand Factor"
										   Placeholder="e.g., 1.2"
										   Disabled="@(!(IsSouthRegion || IsAggregatedTier))" />
					</div>
				</span>
			</HeaderTemplate>
            <Template>
                @{
                    var demandAndPriceData = (ProductDemandAndPrice)context;
                    ReadOnlyMaxOverrideFlag = demandAndPriceData.SetReadOnlyForMaxOverride(ReadOnlyFlag);
                }
                <CascadingValue Value="ReadOnlyMaxOverrideFlag">
                    <ProductDemandPriceInput Context="context"
                                             Precision=@DemandQuantityDecimalPlaces
                                             ValueFunc="DemandAndPriceData => DemandAndPriceData.MaxDemandOverrideFactor"
                                             OnChange="((ChangeEventArgs e) => OverrideMaxDemandValue(e, context, UIConstants.FactorEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        
        <GridColumn Width="140px" Id="dp-max-demand-override-delta" Field="MaxDemandOverrideDelta" Title="Max Demand Delta" Visible=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyMaxOverrideFlag">
                    <ProductDemandPriceInput Context="context"
                                             Precision=@DemandQuantityDecimalPlaces
                                             ValueFunc="DemandAndPriceData => DemandAndPriceData.MaxDemandOverrideDelta"
                                             OnChange="((ChangeEventArgs e) => OverrideMaxDemandValue(e, context, UIConstants.OffsetEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="dp-max-demand-override-absolute" Field="MaxDemandOverrideAbsolute" Title="Max Demand Override"
					Visible=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyMaxOverrideFlag">
                    <ProductDemandPriceInput Context="context"
                                             Precision=@DemandQuantityDecimalPlaces
                                             ValueFunc="DemandAndPriceData => GetValue(DemandAndPriceData.SystemMaxDemand, DemandAndPriceData.MaxDemandOverrideCalculated, DemandAndPriceData.MaxDemandOverrideAbsolute, Constant.DisplayQtyDecimalPlaces)"
                                             OnChange="((ChangeEventArgs e) => OverrideMaxDemandValue(e, context, UIConstants.AbsoluteEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="dp-demand-price-override-factor" Field="PriceOverrideFactor" Title="Price Factor" Visible=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyFlag">
                    <ProductDemandPriceDecimalInput Context="context"
													Precision=@DemandPriceDecimalPlaces
													ValueFunc="DemandAndPriceData => DemandAndPriceData.PriceOverrideFactor"
													OnChange="((ChangeEventArgs e) => OverridePriceValue(e, context, UIConstants.PercentageEntityValue))" />
					<span style="color:red">@(((ProductDemandAndPrice)context).PriceFactorValidationMessage)</span>
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="dp-demand-price-override-delta" Field="PriceOverrideDelta" Title="Price Delta" Visible=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyFlag">
                    <ProductDemandPriceDecimalInput Context="context"
													Precision=@DemandPriceDecimalPlaces
													ValueFunc="DemandAndPriceData => DemandAndPriceData.PriceOverrideDelta"
													OnChange="((ChangeEventArgs e) => OverridePriceValue(e, context, UIConstants.OffsetEntityValue))" />
					<span style="color:red">@(((ProductDemandAndPrice)context).PriceDeltaValidationMessage)</span>
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="dp-demand-price-override-absolute" Field="PriceOverrideAbsolute" Title="Price Override" Visible=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyFlag">
                    <ProductDemandPriceDecimalInput Context="context"
													Precision=@DemandPriceDecimalPlaces
													ValueFunc="DemandAndPriceData => GetValue(DemandAndPriceData.SystemPrice, DemandAndPriceData.PriceOverrideCalculated, DemandAndPriceData.PriceOverrideAbsolute, Constant.DisplayPriceDecimalPlaces)"
													OnChange="((ChangeEventArgs e) => OverridePriceValue(e, context, UIConstants.AbsoluteEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-demand-Data-Input-Date" Field="DataInputDate" Title="Data Input Date" Visible=@IsDataInputDateVisible>
            <Template>
                @{
					var demandAndPriceData = (ProductDemandAndPrice)context;
					<div>@demandAndPriceData.DataInputDate?.ToString("MM/dd/yyyy")</div>
				}
            </Template>
        </GridColumn>
        <GridColumn Width="140px" id="dp-modified-flag" Field="IsOverridden" Title="Data Override" Visible=@IsOverrideVisible>
            <Template>
                @{
					var demandAndPriceData = (ProductDemandAndPrice)context;
					demandAndPriceData.SetOverrideFlag();
					<div class="text-center">@demandAndPriceData.IsOverridden</div>
				}
            </Template>
        </GridColumn>
    </GridColumns>
    
    <NoDataTemplate>
        <strong>@UIConstants.NoDataAvailable</strong>
    </NoDataTemplate>
</TelerikGrid>