@using MPC.PlanSched.Service
@using MPC.PlanSched.Shared.Common
@using MPC.PlanSched.UI.Pages.ProductSupplyCost.Components

@inherits ProductSupplyCostBaseComponent

<TelerikGrid id="supply-grid-rp" TItem="ProductSupplyAndCost" OnRead="@(args => OnReadHandlerAsync(args, IsReady, ProductSupplyAndCostData))" @ref="@GridSupplyReference" Height="60vh"  Width="1950px"
             Sortable="true" Resizable="true"
             Groupable="true" FilterMode="@GridFilterMode.FilterMenu"
             FilterMenuType="@FilterMenuType.CheckBoxList"
             ShowColumnMenu="true" Reorderable="true" Pageable="false"
             LoadGroupsOnDemand=@LoadGroupsOnSupply>
    <GridToolBarTemplate>
        <TelerikButton Size="sm" ButtonType="@ButtonType.Submit" @onclick="ToggleSupplyGridGroupByCollapseAsync"
                       Icon="@( LoadGroupsOnSupply ? SvgIcon.Plus : SvgIcon.Minus )"
                       Title="@( LoadGroupsOnSupply ? "Expand" : "Collapse" )">
            Expand/Collapse all groups
        </TelerikButton>
    </GridToolBarTemplate>
    <GridAggregates>
        <GridAggregate Field=@nameof(ProductSupplyAndCost.MinSupplyOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductSupplyAndCost.SystemMinSupply) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductSupplyAndCost.MaxSupplyOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductSupplyAndCost.SystemMaxSupply) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductSupplyAndCost.CostOverrideCalculated) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductSupplyAndCost.SystemCost) Aggregate="@GridAggregateType.Sum" />
        <GridAggregate Field=@nameof(ProductSupplyAndCost.ProductName) Aggregate="@GridAggregateType.Count" />
        <GridAggregate Field=@nameof(ProductSupplyAndCost.LocationName) Aggregate="@GridAggregateType.Count" />
    </GridAggregates>
    <GridSettings>
        <GridColumnMenuSettings Lockable="false">
            <GridColumnMenuChooser>
                <Template>
                    @{
                        var columns = context.Columns;
                        foreach (var column in columns)
                        {
                            <GridColumnMenuChooserItem Title="@column.DisplayTitle" ColumnId="@column.Id" />
                        }
                    }
                </Template>
            </GridColumnMenuChooser>
        </GridColumnMenuSettings>
    </GridSettings>
    <GridColumns>
        <GridColumn Width="140px" id="rp-supply-location-name" Field="LocationName" Title="Location" Locked="true" Visible=@IsLocationVisible VisibleInColumnChooser=@IsLocationVisible>
            <FilterMenuTemplate Context="context">
                <Filter Data="@LocationOptions"
                        Field="@(nameof(ProductSupplyAndCost.LocationName))" FilterDescriptor="@context.FilterDescriptor">
                </Filter>
            </FilterMenuTemplate>
            <GroupFooterTemplate>
                Subtotal:
            </GroupFooterTemplate>
            <FooterTemplate>
                Total Records: @context.Count
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="rp-supply-location-description" Field="LocationDescription" Title="Location Description" Locked="true" Visible="false" VisibleInColumnChooser=@IsLocationVisible></GridColumn>
        <GridColumn Width="140px" id="rp-supply-pims-location-name" Field="ProductName" Title="PIMS Material Code" Locked="true">
            <FilterMenuTemplate Context="context">
                <Filter Data="@ProductOptions"
                        Field="@(nameof(ProductSupplyAndCost.ProductName))" FilterDescriptor="@context.FilterDescriptor">
                </Filter>
            </FilterMenuTemplate>
            <Template>
                @{
                    var supplyAndCostData = (ProductSupplyAndCost)context;
                    <div>@(supplyAndCostData.ProductName)</div>
                    <div>@(supplyAndCostData.PIMSCode)</div>
                }
            </Template>
            <GroupFooterTemplate>
                @if (!IsLocationVisible)
                {
                    <div>Subtotal:</div>
                }
            </GroupFooterTemplate>
            <FooterTemplate>
                @if (!IsLocationVisible)
                {
                    <div>Total Records: @context.Count</div>
                }
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="rp-supply-product-description" Field="ProductDescription" Title="Product Description" Locked="true"></GridColumn>
        <GridColumn Width="120px" id="rp-supply-tier" Field="ContractorType" Title="Tier" Locked="true"></GridColumn>
        <GridColumn Width="140px" id="rp-supply-min" Field="MinSupplyOverrideCalculated" Title="Min. Supply (MBD)" Locked="true">
            <Template>
                @{
                    var supplyAndCostData = (ProductSupplyAndCost)context;
                    supplyAndCostData.ValidateSupplyValue();
                    <div class="@((@CommonHelper.IsValueDifferent(supplyAndCostData.SystemMinSupply, supplyAndCostData.MinSupplyOverrideCalculated, Constant.DisplayQtyDecimalPlaces)) ? "d-input-different" : "d-none") @((@supplyAndCostData.MinSupplyOverrideCalculated <= SupplyOverrideMinimumValue) ? "d-input-different-invalid" : "")">
                        Overridden: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.MinSupplyOverrideCalculated)
                    </div>
                    <div>System: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.SystemMinSupply)</div>
                    <span style="color:red">@supplyAndCostData.MinCalculatedValidationMessage</span>
                }
            </Template>
            <GroupFooterTemplate>
                @context.Sum
            </GroupFooterTemplate>
            <FooterTemplate>
                <CascadingValue Value="IsManualFooter">
                    <GridFooterSum AggregateResults="@context?.AggregateResults"
                                   OverrideProperty=@nameof(ProductSupplyAndCost.MinSupplyOverrideCalculated)
                                   InitialProperty=@nameof(ProductSupplyAndCost.SystemMinSupply)
                                   PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
                </CascadingValue>
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="rp-supply-max" Field="MaxSupplyOverrideCalculated" Title="Max. Supply (MBD)" Locked="true">
            <Template>
                @{
                    var supplyAndCostData = (ProductSupplyAndCost)context;
                    supplyAndCostData.ValidateSupplyValue();
                    <div class="@((@CommonHelper.IsValueDifferent(supplyAndCostData.SystemMaxSupply, supplyAndCostData.MaxSupplyOverrideCalculated, Constant.DisplayQtyDecimalPlaces)) ? "d-input-different" : "d-none") @((@supplyAndCostData.MaxSupplyOverrideCalculated <= SupplyOverrideMinimumValue) ? "d-input-different-invalid" : "")">
                        Overridden: @supplyAndCostData.DisplaySupplyQuantity(supplyAndCostData.MaxSupplyOverrideCalculated)
                    </div>
                    <div class="font-14">
                        System: @(supplyAndCostData.DisplaySupplyQuantity(
                                            ((supplyAndCostData.DestinationApplicationName.ToLower().Contains(PlanNSchedConstant.WestXPIMS.ToLower())
                                            || supplyAndCostData.DestinationApplicationName.ToLower().Contains(PlanNSchedConstant.NorthPIMS.ToLower()))
                                            && supplyAndCostData.DataSource == PlanNSchedConstant.KittyHawk) ? Constant.SupplyMaxQtyValue : supplyAndCostData.SystemMaxSupply))
                </div>
                <span style="color:red">@supplyAndCostData.MaxCalculatedValidationMessage</span>
                                }
            </Template>
            <GroupFooterTemplate>
                @context.Sum
            </GroupFooterTemplate>
            <FooterTemplate>
                <CascadingValue Value="IsManualFooter">
                    <GridFooterSum AggregateResults="@context?.AggregateResults"
                                   OverrideProperty=@nameof(ProductSupplyAndCost.MaxSupplyOverrideCalculated)
                                   InitialProperty=@nameof(ProductSupplyAndCost.SystemMaxSupply)
                                   PrecisionFormat="@UIConstants.QuantityDigitPrecisionFormat" />
                </CascadingValue>
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="rp-supply-uom" Field="SystemQtyUOM" Title="UOM" Visible="false"></GridColumn>
        <GridColumn Width="140px" id="rp-supply-cost" Field="CostOverrideCalculated" Title="Cost ($/bbl)" Locked="true">
            <Template>
                @{
                    var item = context as ProductSupplyAndCost;
                    item.ValidateCostValue();
                    <div class="@((CommonHelper.IsValueDifferent(item.SystemCost, item.CostOverrideCalculated, Constant.DisplayPriceDecimalPlaces)) ? "d-input-different" : "d-none")">Overridden: @item.DisplaySupplyCost(item.CostOverrideCalculated)</div>
                    <div class="font-14">System: @item.DisplaySupplyCost(item.SystemCost)</div>
                }
            </Template>
            <GroupFooterTemplate>
                @context.Sum
            </GroupFooterTemplate>
            <FooterTemplate>
                <CascadingValue Value="IsManualFooter">
                    <GridFooterSum AggregateResults="@context?.AggregateResults"
                                   OverrideProperty=@nameof(ProductSupplyAndCost.CostOverrideCalculated)
                                   InitialProperty=@nameof(ProductSupplyAndCost.SystemCost)
                                   PrecisionFormat="@UIConstants.PriceDigitPrecisionFormat" />
                </CascadingValue>
            </FooterTemplate>
        </GridColumn>
        <GridColumn Width="140px" id="rp-supply-cost-uom" Field="SystemCostUOM" Title="CostUOM" Visible="false"></GridColumn>
        <GridColumn Width="140px" Id="rp-min-supply-override-factor" Field="MinSupplyOverrideFactor" Title="Min Supply Factor" Visible=@IsOverrideVisible
            VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                @{
                    var supplyAndCostData = (ProductSupplyAndCost)context;
                    ReadOnlyMinOverrideFlag = supplyAndCostData.SetReadOnlyForMinOverride(ReadOnlyFlag);
                }
                <CascadingValue Value="ReadOnlyMinOverrideFlag">
                    <ProductSupplyAndCostInput Context="context"
                                               Precision=@SupplyQuantityDecimalPlaces
                                               ValueFunc="SupplyAndPriceData => SupplyAndPriceData.MinSupplyOverrideFactor"
                                               OnChange="((ChangeEventArgs e) => OverrideMinSupplyValue(e, context, UIConstants.PercentageEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-min-supply-override-delta" Field="MinSupplyOverrideDelta" Title="Min Supply Delta" Visible=@IsOverrideVisible
            VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyMinOverrideFlag">
                    <ProductSupplyAndCostInput Context="context"
                                               Precision=@SupplyQuantityDecimalPlaces
                                               ValueFunc="SupplyAndPriceData => SupplyAndPriceData.MinSupplyOverrideDelta"
                                               OnChange="((ChangeEventArgs e) => OverrideMinSupplyValue(e, context, UIConstants.OffsetEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-min-supply-override-absolute" Field="MinSupplyOverrideAbsolute" Title="Min Supply Override"
            Visible=@IsOverrideVisible VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyMinOverrideFlag">
                    <ProductSupplyAndCostInput Context="context"
                                               Precision=@SupplyQuantityDecimalPlaces
                                               ValueFunc="SupplyAndCostData => GetValue(SupplyAndCostData.SystemMinSupply, SupplyAndCostData.MinSupplyOverrideCalculated, SupplyAndCostData.MinSupplyOverrideAbsolute, Constant.DisplayQtyDecimalPlaces)"
                                               OnChange="((ChangeEventArgs e) => OverrideMinSupplyValue(e, context, UIConstants.AbsoluteEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-max-supply-override-factor" Field="MaxSupplyOverrideFactor" Title="Max Supply Factor" Visible=@IsOverrideVisible
            VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                @{
                    var supplyAndCostData = (ProductSupplyAndCost)context;
                    ReadOnlyMaxOverrideFlag = supplyAndCostData.SetReadOnlyForMaxOverride(ReadOnlyFlag);
                }
                <CascadingValue Value="ReadOnlyMaxOverrideFlag">
                    <ProductSupplyAndCostInput Context="context"
                                               Precision=@SupplyQuantityDecimalPlaces
                                               ValueFunc="SupplyAndPriceData => SupplyAndPriceData.MaxSupplyOverrideFactor"
                                               OnChange="((ChangeEventArgs e) => OverrideMaxSupplyValue(e, context, UIConstants.PercentageEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-max-supply-override-delta" Field="MaxSupplyOverrideDelta" Title="Max Supply Delta" Visible=@IsOverrideVisible
            VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyMaxOverrideFlag">
                    <ProductSupplyAndCostInput Context="context"
                                               Precision=@SupplyQuantityDecimalPlaces
                                               ValueFunc="SupplyAndPriceData => SupplyAndPriceData.MaxSupplyOverrideDelta"
                                               OnChange="((ChangeEventArgs e) => OverrideMaxSupplyValue(e, context, UIConstants.OffsetEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-max-supply-override-absolute" Field="MaxSupplyOverrideAbsolute" Title="Max Supply Override"
            Visible=@IsOverrideVisible VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyMaxOverrideFlag">
                    <ProductSupplyAndCostInput Context="context"
                                               Precision=@SupplyQuantityDecimalPlaces
                                               ValueFunc="SupplyAndCostData => GetValue(SupplyAndCostData.SystemMaxSupply,
                                                                                                                                           SupplyAndCostData.MaxSupplyOverrideCalculated,
                                                                                                                                           SupplyAndCostData.MaxSupplyOverrideAbsolute, Constant.DisplayQtyDecimalPlaces)"
                                               OnChange="((ChangeEventArgs e) => OverrideMaxSupplyValue(e, context, UIConstants.AbsoluteEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-supply-cost-override-factor" Field="CostOverrideFactor" Title="Cost Factor" Visible=@IsOverrideVisible VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyFlag">
                    <ProductSupplyAndCostDecimalInput Context="context"
                                               Precision=@SupplyPriceDecimalPlaces
                                               ValueFunc="SupplyAndCostData => SupplyAndCostData.CostOverrideFactor"
                                               OnChange="((ChangeEventArgs e) => OverrideCostValue(e, context, UIConstants.PercentageEntityValue))" />
                    <span style="color:red">@(((ProductSupplyAndCost)context).CostFactorValidationMessage)</span>
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-supply-cost-override-delta" Field="CostOverrideDelta" Title="Cost Delta" Visible=@IsOverrideVisible
            VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyFlag">
                    <ProductSupplyAndCostDecimalInput Context="context"
                                               Precision=@SupplyPriceDecimalPlaces
                                               ValueFunc="SupplyAndCostData => SupplyAndCostData.CostOverrideDelta"
                                               OnChange="((ChangeEventArgs e) => OverrideCostValue(e, context, UIConstants.OffsetEntityValue))" />
                    <span style="color:red">@(((ProductSupplyAndCost)context).CostDeltaValidationMessage)</span>
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-supply-cost-override-absolute" Field="CostOverrideAbsolute" Title="Cost Override" Visible=@IsOverrideVisible
            VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                <CascadingValue Value="ReadOnlyFlag">
                    <ProductSupplyAndCostDecimalInput Context="context"
                                               Precision=@SupplyPriceDecimalPlaces
                                               ValueFunc="SupplyAndCostData => GetValue(SupplyAndCostData.SystemCost,
                                               SupplyAndCostData.CostOverrideCalculated,
                                               SupplyAndCostData.CostOverrideAbsolute, Constant.DisplayPriceDecimalPlaces)"
                                               OnChange="((ChangeEventArgs e) => OverrideCostValue(e, context, UIConstants.AbsoluteEntityValue))" />
                </CascadingValue>
            </Template>
        </GridColumn>
        <GridColumn Width="140px" Id="rp-supply-Data-Input-Date" Field="DataInputDate" Title="Data Input Date" Visible=@IsDataInputDateVisible
            VisibleInColumnChooser=@IsDataInputDateVisible>
            <Template>
                @{
                    var supplyAndCostData = (ProductSupplyAndCost)context;
                    <div>@supplyAndCostData.DataInputDate?.ToString("MM/dd/yyyy")</div>
                }
            </Template>
        </GridColumn>
        <GridColumn Width="140px" id="modified-flag" Field="IsOverridden" Title="Data Override" Visible=@IsOverrideVisible
            VisibleInColumnChooser=@IsOverrideVisible>
            <Template>
                @{
                    var supplyAndCostData = (ProductSupplyAndCost)context;
                    supplyAndCostData.SetOverrideFlag();
                    <div class="text-center">@supplyAndCostData.IsOverridden</div>
                }
            </Template>
        </GridColumn>
    </GridColumns>
    <NoDataTemplate>
        <strong>@UIConstants.NoDataAvailable</strong>
    </NoDataTemplate>
</TelerikGrid>