@using MPC.PlanSched.Shared.Common.Extensions
@using MPC.PlanSched.UI.ViewModel
@using Microsoft.Extensions.Logging
@using MPC.PlanSched.UI.Shared
@using MPC.PlanSched.Service
@using MPC.PlanSched.Shared.Service.Schema
@using MPC.PlanSched.Shared.Common
@using System.Globalization
@using Microsoft.FeatureManagement
@using Microsoft.AspNetCore.Authorization

@inject ILogger<MidtermActivePlans> logger
@inject IFeatureManager featureManager
@inherits PlanBaseComponent

<Spinner IsVisible="@IsLoading()" />

<div class="row">
	<div class="col-12 m-space">
		<div class="font-600 font-26"><i class="fa-solid fa-earth-americas" />  @(Area.Description()) - @(ConfigurationUI.MidtermRegion)</div>
	</div>
	<div class="col-12 m-space d-flex justify-content-between align-items-center">
		<div class="font-20">Select a Region to view / update upcoming regional plans</div>
		<TelerikButton Id="btn-start-new-plan" ThemeColor="primary" ButtonType="@ButtonType.Submit"
					   @onclick="@(() => { StartNewPlan(_newPlanBusinessCase); })">Start New Plan</TelerikButton>
	</div>
	<div class="col-12">
		<TelerikGrid Data="@BusinessCases" FilterMode="@GridFilterMode.FilterMenu" FilterMenuType="@FilterMenuType.CheckBoxList" Class="grid-no-scroll">
			<GridAggregates>
				<GridAggregate Field="Region" Aggregate="@GridAggregateType.Count" />
			</GridAggregates>
			<GridColumns>
				<GridColumn Field="@nameof(BusinessCase.CreatedBy)" Title="User"/>
				<GridColumn Field="@nameof(BusinessCase.Id)" Title="Plan ID">
                    <Template>
                         @{
                             var businessCase = (BusinessCase)context;
                             var isFlagged = businessCase.IsFlagged ?? false;
                          }
                            <div class="font-700">@(businessCase.Id)</div>
                            <div>
                                 <button type="button" @onclick="(() => ToggleFlagAsync(businessCase))"
                                      aria-label="@(isFlagged ? "Flagged" : "Not Flagged")"
                                      class="flag-button @(isFlagged ? "flagged" : string.Empty)">
                                      <i class="fa fa-flag flag-button-icon @(isFlagged ? "flagged" : string.Empty)"></i>
                                 </button> 
                             </div>
                    </Template>
                </GridColumn>
				<GridColumn Field="@nameof(BusinessCase.RefineryName)" Title="Refinery"/>
				<GridColumn Field="" Title=@_localTimezone>
					<Template>
						@{
							var businessCase = (BusinessCase)context;
						}
						<div class="font-700">@(businessCase.UpdatedOn)</div>
						<div> @(businessCase.UpdatedBy)</div>
					</Template>
				</GridColumn>
				<GridColumn Field="">
					<Template>
						@{
							var businessCase = context as BusinessCase;
						}

						@if (businessCase.Name is null)
						{
							<a style="cursor: not-allowed; pointer-events: none; opacity: 0.5;">View/Edit Saved Plan</a>
						}
						else
						{
							<AuthorizeView Policy="@ViewPermissionName(businessCase.Region)" Context="auth">
								<a class="hand-pointer font-500 custom-link" data-itemRegionName="@businessCase.Name" id="@("tooltip-target" + businessCase.Id)" @onclick="(() => EditPlan(businessCase))">
									View/Edit Saved Plan
								</a>
								<TelerikTooltip TargetSelector="@( "#tooltip-target" + businessCase.Id)" Position="@TooltipPosition.Bottom">
									<Template Context="ttipContext">
										<p></p>
										<p><b>Plan Name: </b>@businessCase.Name</p>
										<p><b>Description: </b>@businessCase.Description</p>
									</Template>
								</TelerikTooltip>
							</AuthorizeView>
						}
					</Template>
				</GridColumn>
				<GridColumn Field="">
					<Template>
						@{
							var businessCase = (BusinessCase)context;
						}

						<MPC.PlanSched.UI.Shared.RefreshDialog @ref="_refreshModal" />
						@if (businessCase.Name is null)
						{
							<a style="cursor: not-allowed; pointer-events: none; opacity: 0.5;">Refresh Data</a>
						}
						else
						{
							<AuthorizeView Policy="@(EditPermissionName(businessCase.Region))" Context="auth">
								<a class="hand-pointer font-500 custom-link" @onclick="@(() => { RefreshModel(businessCase); })">
									Refresh Data
								</a>
							</AuthorizeView>
						}
					</Template>
				</GridColumn>
				<GridColumn Title="Share" Width="5rem">
					<Template>
						@{
							var businessCase = context as BusinessCase;
                            var isShared = businessCase?.IsShared ?? false;
							<div style="text-align: center;">
                              <button type="button" @onclick="@(() => {_selectedBusinessCase = businessCase;
                                                           _sharePlanDialog.Open();})"
                                   aria-label="@(isShared ? "Shared":"Not Shared")"
                                   class="share-button @(isShared ? "shared" : string.Empty)">
								<i class="fa fa-share-alt share-button-icon @(isShared ? "shared" : string.Empty)"></i>
                              </button>
							</div>
						}
					</Template>
				</GridColumn>
				<GridColumn Title="Archive" Width="5rem">
					<Template>
						@{
							var businessCase = context as BusinessCase;
							<div style="text-align: center;">
								<i class="fa fa-archive hand-pointer custom-link"
								@onclick="@(() => {@BusinessCaseId = businessCase.Id;
                                                           _archivedialog.Open(); })"></i>
							</div>
						}
					</Template>
				</GridColumn>
				<GridColumn Title="Publish" Width="5rem">
					<Template>
					@{
							var businessCase = context as BusinessCase;
							<div style="text-align: center;">
								<i class="fa-solid fa-circle-check hand-pointer custom-link" @onclick="(() => PublishPlan(businessCase))"></i>
							</div>
					}
					</Template>
				</GridColumn>
				<GridColumn Title="Download" Width="5rem">
					<Template>
						@{
							var businessCase = context as BusinessCase;
							<div style="text-align: center;">
								<i class="fa-solid fa-download hand-pointer custom-link" @onclick="(() => ExcelDownloadAsync(businessCase))"></i>
							</div>
						}
					</Template>
				</GridColumn>
				<GridColumn Title="Delete" Width="5rem">
					<Template>	
						@{
							var businessCase = context as BusinessCase;
                            @if(businessCase!=null)
                            {
							<div style="text-align: center;">
								<i class="fa-solid fa-trash-can hand-pointer custom-link"
									@onclick="@(() => {@BusinessCaseId = businessCase.Id;
                                                           _deletedialog.Open(); })"></i>
							</div>
                            }
						}
					</Template>
				</GridColumn>
			</GridColumns>
		</TelerikGrid>
	</div>
</div>

<Dialog @ref="_archivedialog" Title="Archive Plan" OnConfirm="@(() => ArchivePlan())">
	<h4><b>The saved plan will be moved to historical plan.</b></h4>
	Are you sure you want to move it to historical plan?
	<Spinner IsVisible="@IsLoading()" />
</Dialog>

<Dialog @ref="_deletedialog" Title="Delete Plan" OnConfirm="@(() => DeletePlanAsync())">
	<h4><b>The saved plan transactional data will be deleted and moved to historical plan.</b></h4>
	Are you sure you want to delete and move it to historical plan?
	<Spinner IsVisible="@IsLoading()" />
</Dialog>

<Dialog @ref="_sharePlanDialog" Title="Share Plan" OnConfirm="@(() => SharePlanAsync(_selectedBusinessCase))">
    @{
        var isCurrentlyShared = _selectedBusinessCase.IsShared ?? false;
        var message = isCurrentlyShared 
            ? "Are you sure you want to remove this plan from Shared Plans?" 
            : "Are you sure you want to share this plan?";
    }
    <div class="dialog-content">
        <p>@message</p>
    </div>
    <Spinner IsVisible="@IsLoading()" />
</Dialog>

<ExcelDownloadDialog @ref="_excelDialogRef" SelectedPriceTypeChanged="@OnPriceTypeChanged"
					 OnConfirm="() => ExcelDownloadAsync(_selectedBusinessCase)">
</ExcelDownloadDialog>

<RefreshDialog @ref="_refreshModal" />

<TelerikWindow Modal="true" @bind-Visible="@StatusPopup">
    <WindowContent>
        <div class="row p-3 fs-6">@StatusMessageContent</div>
        <div class="text-center">
            <TelerikButton OnClick="@(() => StatusPopup = false)">Ok</TelerikButton>
        </div>
    </WindowContent>
</TelerikWindow>